<section class="header">
    <ul class="header__list">
        <li class="header__item header__item-bars">
            <i class="fas fa-bars"></i>
            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="#">Thống kê</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thành Viên</a>
                </li>
                <li class="dropdown-item active">
                    <a href="#">Danh Mục</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thương Hiệu</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Sản Phẩm</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Phân Loại Hàng</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Đơn Hàng</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-toggle">
            <i class="fas fa-outdent"></i>
        </li>
        <li class="header__item header__item-search">
            <i class="fas fa-search"></i>
            <input type="text" class="header__input" placeholder="Tìm kiếm gì đó...">

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="#">Chỉnh sửa hồ sơ</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Quản lý thành viên</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thoát</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-notification">
            <i class="fas fa-bell"></i>

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="#">Chỉnh sửa hồ sơ</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Quản lý thành viên</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thoát</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-tasks">
            <i class="fas fa-tasks"></i>

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="#">Chỉnh sửa hồ sơ</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Quản lý thành viên</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thoát</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-profile">
            <span class="avatar">
                <img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/variants/FvZ5kCncEfUQXbUkiSrNyJrW/6a540d0de9b44df9962f62205489ba6e2a5beab748fa47e816b60597a256ba9b" alt="">
            </span>
            <label>danghuong18</label>
            <i class="fas fa-caret-down"></i>

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="#">Chỉnh sửa hồ sơ</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Quản lý thành viên</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Thoát</a>
                </li>
            </ul>
        </li>
    </ul>
</section>