<section class="header">
    <ul class="header__list">
        <li class="header__item header__item-bars">
            <i class="fas fa-bars"></i>
            <ul class="dropdown-list">
                <li class="dropdown-item active">
                    <a href="/cpanel">Thống kê</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/user">Thành Viên</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/category">Danh Mục</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/brand">Thương Hiệu</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/product">Sản Phẩm</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/order">Đơn Hàng</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-toggle">
            <i class="fas fa-outdent"></i>
        </li>
        <li class="header__item header__item-search">
            <i class="fas fa-search"></i>
            <input type="text" class="header__input" placeholder="Tìm kiếm gì đó...">

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a>Không có gì để hiển thị cả.</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-notification">
            <i class="fas fa-bell"></i>

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a>Không có gì để hiển thị cả.</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-tasks">
            <i class="fas fa-tasks"></i>

            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a>Không có gì để hiển thị cả.</a>
                </li>
            </ul>
        </li>
        <li class="header__item header__item-profile">
            <% if(login_info){ %>
                <span class="avatar">
                    <img src="<%= (login_info.avatar)? login_info.avatar : '/public/upload/default-avatar.jpg' %>">
                    <!-- <script>
                        $(document).ready(()=>{
                            var header_avatar =  $(".header__item-profile .avatar img");
                            if($(header_avatar[0]).height() < $(header_avatar[0]).width()) {
                                $(header_avatar[0]).css({"height": "100%", "width" : "auto"});
                            }else{
                                $(header_avatar[0]).css({"height": "auto", "width" : "100%"});
                            }
                        });
                    </script> -->
                </span>
                <label><%= login_info.username %></label>
                <i class="fas fa-caret-down"></i>
            <% } %>
            <ul class="dropdown-list">
                <li class="dropdown-item">
                    <a href="/cpanel/user/profile">Chỉnh sửa hồ sơ</a>
                </li>
                <li class="dropdown-item">
                    <a href="/cpanel/user">Quản lý thành viên</a>
                </li>
                <li class="dropdown-item">
                    <a class="log-out">Thoát</a>
                </li>
            </ul>
        </li>
    </ul>
</section>