<section class="sidebar">
    <div class="sidebar__header">
        <span class="background-icon"><i class="fas fa-store-alt"></i></span>
        <a><i class="fas fa-store-alt"></i> <label>Shop Dashboard</a></label></a>
    </div>

    <div class="sidebar__lists">
        <ul class="sidebar__list">
            <li class="sidebar__list__heading">
                Tổng Quan
            </li>
            <li class="sidebar__item active"><a href="/cpanel/" title="Thống Kê"><span class="left"><i class="fas fa-tachometer-alt"></i> <label>Thống Kê</label></span> <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
            <li class="sidebar__item"><a href="/cpanel/user" title="Thành Viên"><span class="left"><i class="fas fa-users"></i> <label>Thành Viên</label></span> <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
            <li class="sidebar__item"><a href="/cpanel/category" title="Danh Mục"><span class="left"><i class="fas fa-folder-open"></i> <label>Danh Mục</label></span>  <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
            <li class="sidebar__item"><a href="/cpanel/brand" title="Thương Hiệu"><span class="left"><i class="fas fa-tags"></i> <label>Thương Hiệu</label></span>  <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
        </ul>

        <ul class="sidebar__list">
            <li class="sidebar__list__heading">
                Quản Lý
            </li>
            <li class="sidebar__item"><a href="/cpanel/product" title="Sản Phẩm"><span class="left"><i class="fas fa-shopping-bag"></i> <label>Sản Phẩm</label></span> <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
            <li class="sidebar__item"><a href="/cpanel/classify-product" title="Phân Loại Hàng"><span class="left"><i class="fas fa-th-list"></i> <label>Phân Loại Hàng</label></span>  <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
            <li class="sidebar__item"><a href="/cpanel/order" title="Đơn Hàng"><span class="left"><i class="fas fa-shopping-cart"></i> <label>Đơn Hàng</label></span>  <span class="right"><i class="fas fa-chevron-right"></i></span></a></li>
        </ul>
    </div>
</section>