*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

.wrapper {
  width: 100%;
}

.header {
  margin-left: 25rem;
  background-color: #fff;
  transition: margin-left 0.2s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 5rem;
  box-shadow: 0 1px 1px #d8d8d8;
}
.header__item {
  position: relative;
  padding: 2rem;
  height: 5rem;
  width: 10%;
  font-size: 1.4rem;
  border-right: 1px solid #d8d8d8;
  animation: opacity_animation 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__item .dropdown-list {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  top: 55px;
  box-shadow: 0 1px 1px #d8d8d8;
  border: 1px solid #00000020;
  animation: opacity_animation 0.2s;
}
.header__item .dropdown-list .dropdown-item {
  border-bottom: 1px solid #d8d8d8;
}
.header__item .dropdown-list .dropdown-item:last-child {
  border-bottom: 0;
}
.header__item .dropdown-list .dropdown-item a {
  display: block;
  color: #4c4743;
  padding: 10px;
}
.header__item .dropdown-list .dropdown-item label {
  cursor: pointer;
}
.header__item .dropdown-list .dropdown-item__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}
.header__item .dropdown-list .dropdown-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  margin-right: 1rem;
}
.header__item .dropdown-list .dropdown-item__image img {
  width: 100%;
}
.header__item .dropdown-list .dropdown-item:hover {
  background: #d8d8d8;
}
.header__item-bars {
  display: none;
  cursor: pointer;
}
.header__item-bars .dropdown-list {
  background-color: #4c4743;
}
.header__item-bars .dropdown-list .dropdown-item {
  border-bottom: 1px solid #45403c;
}
.header__item-bars .dropdown-list .dropdown-item a {
  color: #fff;
}
.header__item-bars .dropdown-list .dropdown-item:hover {
  background-color: #433e3a;
}
.header__item-bars .dropdown-list .dropdown-item.active {
  background-color: #33302c;
}
.header__item-bars .dropdown-list .dropdown-item.active a {
  cursor: default;
}
.header__item-toggle {
  cursor: pointer;
}
.header__item-search {
  width: 100%;
  border-right: 0;
}
.header__item-search i {
  display: none;
}
.header__item-search .dropdown-list {
  left: 0;
}
.header__item-search .dropdown-list .dropdown-item label {
  font-size: 1.6rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.header__item-notification {
  cursor: pointer;
}
.header__item-notification .dropdown-list {
  width: 250px;
}
.header__item-tasks {
  cursor: pointer;
}
.header__item-tasks .dropdown-list {
  width: 250px;
}
.header__item-profile {
  width: 40%;
  border-right: 0;
  cursor: pointer;
  position: relative;
}
.header__item-profile .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 100%;
}
.header__item-profile .avatar img {
  width: 100%;
}
.header__item-profile label {
  margin-left: 1rem;
  cursor: pointer;
}
.header__item-profile i {
  margin-left: 1rem;
}
.header__input {
  width: 100%;
  flex-grow: 1;
  border: 0;
  outline: none;
  font-size: 1.4rem;
  font-family: "Roboto";
  background-color: transparent;
}
.header.toggled {
  margin-left: 5rem;
}

.sidebar {
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25rem;
  background-color: #4c4743;
  color: #afb0ab;
  z-index: 1;
  transition: width 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar__header {
  width: 25rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5e3a;
  color: #fff;
  z-index: 1;
  transition: width 0.2s;
  position: fixed;
  overflow: hidden;
}
.sidebar__header a {
  color: #fff;
  z-index: 1000;
}
.sidebar__header a label {
  cursor: pointer;
}
.sidebar__header .background-icon {
  position: absolute;
  top: 5px;
  left: -5px;
  transform: rotate(-45deg);
  font-size: 45px;
  opacity: 0.5;
}
.sidebar__lists {
  margin-top: 5rem;
}
.sidebar__list {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}
.sidebar__list__heading {
  text-transform: uppercase;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.sidebar__item {
  position: relative;
  display: block;
  border-bottom: 1px solid #45403c;
}
.sidebar__item a {
  color: #afb0ab;
  position: relative;
  display: block;
  padding: 15px 20px;
}
.sidebar__item .left i {
  margin-right: 1.5rem;
}
.sidebar__item .right {
  position: absolute;
  right: 2rem;
}
.sidebar__item label {
  cursor: pointer;
}
.sidebar__item:hover {
  background-color: #433e3a;
}
.sidebar__item.active {
  background-color: #33302c;
}
.sidebar__item.active a {
  cursor: default;
}
.sidebar.toggled {
  width: 5rem;
}
.sidebar.toggled .sidebar__header {
  width: 5rem;
}
.sidebar.toggled .sidebar__header label {
  display: none;
}
.sidebar.toggled .sidebar__list {
  margin-top: 0;
}
.sidebar.toggled .sidebar__list__heading {
  display: none;
}
.sidebar.toggled .sidebar__item .left {
  margin-right: 0;
}
.sidebar.toggled .sidebar__item .right {
  display: none;
}
.sidebar.toggled .sidebar__item a {
  padding: 1.5rem;
}
.sidebar.toggled .sidebar__item label {
  display: none;
}

.main-body {
  position: inherit;
  margin-left: 25rem;
  z-index: 1000;
  margin-top: 5rem;
  padding: 2rem;
  transition: margin-left 0.2s;
}
.main-body__statistic {
  margin-bottom: 2rem;
}
.main-body__statistic__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__statistic__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: calc(25% - 22.5px);
  background-color: #fff;
  box-shadow: 0 1px 1px #d8d8d8;
}
.main-body__statistic__item .icon {
  width: 6rem;
  padding: 2rem;
  background-color: #fe5e3a;
  color: #fff;
}
.main-body__statistic__item .icon i {
  font-size: 2rem;
}
.main-body__statistic__item .info {
  width: 100%;
  padding: 1rem;
  color: #7b7b7b;
  overflow: hidden;
}
.main-body__statistic__item .info .heading {
  font-size: 2rem;
  font-weight: 500;
}
.main-body__statistic__item--new .icon {
  background-color: #ff9501;
}
.main-body__statistic__item--total .icon {
  background-color: #76c80e;
}
.main-body__statistic__item--visitor .icon {
  background-color: #1fbba6;
}
.main-body__container {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px #d8d8d8;
}
.main-body__container__title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.main-body__container__panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__panel .split {
  width: calc(50% - 10px);
  transition: width 0.2s;
}
.main-body__container .form-group {
  margin-bottom: 1.5rem;
}
.main-body__container .form-group label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-body__container .form-group input {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
  font-family: "Roboto";
}
.main-body__container .form-group input:focus {
  border-bottom: 2px solid #fe5e3a;
}
.main-body__container .form-group textarea {
  width: 100% !important;
  font-family: "Roboto";
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.main-body__container .form-group textarea:focus {
  border-bottom: 2px solid #fe5e3a;
}
.main-body__container .form-group select {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.main-body__container .form-group select:focus-within {
  border-bottom: 2px solid #fe5e3a;
}
.main-body__container .form-group select[multiple], .main-body__container .form-group select[size] {
  height: auto;
}
.main-body__container .form-group .product-details-item {
  margin-bottom: 1rem;
  animation: opacity_animation 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container .form-group .product-details-item input {
  width: calc(45% - 15px);
}
.main-body__container .form-group .product-details-item .minus-button {
  width: 3.5rem;
  background-color: #4c4743;
}
.main-body__container .form-group .plus-button,
.main-body__container .form-group .minus-button {
  cursor: pointer;
  height: 3.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  background-color: #1fbba6;
}
.main-body__container .form-group .plus-button:hover,
.main-body__container .form-group .minus-button:hover {
  opacity: 0.5;
}
.main-body__container .form-group .product-images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}
.main-body__container .form-group .product-images .product-images-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border: 2px solid #76c80e;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  transition: border 0.2s;
}
.main-body__container .form-group .product-images .product-images-item img {
  width: 100%;
}
.main-body__container .form-group .product-images .product-images-item .delete-image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: 600;
  height: 2rem;
  width: 2rem;
  color: #fff;
  background-color: #76c80e;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s;
}
.main-body__container .form-group .product-images .product-images-item:hover {
  border: 2px solid #fe5e3a;
}
.main-body__container .form-group .product-images .product-images-item:hover .delete-image-button {
  background-color: #fe5e3a;
}
.main-body__container .form-group .avatar-profile {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container .form-group .avatar-profile .border-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  overflow: hidden;
}
.main-body__container .form-group .avatar-profile .border-avatar img {
  width: 100%;
}
.main-body__container .form-group .birthday {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container .form-group .birthday .day,
.main-body__container .form-group .birthday .month,
.main-body__container .form-group .birthday .year {
  width: calc(100%/3 - 5px);
}
.main-body__container .submit-button {
  cursor: pointer;
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  background-color: #fe5e3a;
  border: 0;
  border-radius: 0;
}
.main-body__container .submit-button:hover {
  opacity: 0.5;
}
.main-body__container__item {
  font-size: 1.6rem;
  border-left: 5px solid #76c80e;
  background-color: #76c80e20;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .checkbox-item {
  width: 5rem;
}
.main-body__container__item .body-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title {
  color: #4c4743;
  font-weight: 600;
  margin-bottom: 1rem;
}
.main-body__container__item .body-item__title.one-line {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title.one-line span {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title.one-line span img {
  width: 100%;
}
.main-body__container__item .body-item__title.one-line span label {
  cursor: pointer;
}
.main-body__container__item .body-item__title.one-line span:hover {
  border: 2px solid #76c80e;
}
.main-body__container__item .body-item__title.user-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title.user-item .item-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title.user-item .item-avatar img {
  width: 100%;
}
.main-body__container__item .body-item__title.user-item .item-avatar:hover {
  border: 2px solid #76c80e;
}
.main-body__container__item .body-item__title.user-item .item-username {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-body__container__item .body-item__title.user-item .item-username label {
  width: 100%;
  cursor: pointer;
}
.main-body__container__item .body-item__title:hover {
  color: #76c80e;
}
.main-body__container__item .body-item__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-body__container__item .body-item__details {
  width: 100%;
}
.main-body__container__item .body-item__details-image .list-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__details-image .item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  margin-right: 0.5rem;
}
.main-body__container__item .body-item__details-image .item-image img {
  width: 100%;
}
.main-body__container__item .body-item__details-image .item-image:hover {
  border: 2px solid #76c80e;
}
.main-body__container__item .body-item__details .item-price {
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: #76c80e;
}
.main-body__container__item .body-item__details-size, .main-body__container__item .body-item__details-color, .main-body__container__item .body-item__details-amount, .main-body__container__item .body-item__details-category, .main-body__container__item .body-item__details-brand {
  display: inline-block;
  height: 2.5rem;
  margin-right: 0.5rem;
  color: #4c4743;
}
.main-body__container__item .body-item__details-size .title, .main-body__container__item .body-item__details-color .title, .main-body__container__item .body-item__details-amount .title, .main-body__container__item .body-item__details-category .title, .main-body__container__item .body-item__details-brand .title {
  font-weight: 600;
}
.main-body__container__item .body-item__details-size .desc, .main-body__container__item .body-item__details-color .desc, .main-body__container__item .body-item__details-amount .desc, .main-body__container__item .body-item__details-category .desc, .main-body__container__item .body-item__details-brand .desc {
  padding: 0.5rem;
}
.main-body__container__item .body-item__width-70 {
  width: calc(70% - 1rem);
}
.main-body__container__item .body-item__width-30 {
  width: calc(30% - 1rem);
}
.main-body__container__item .body-item__status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item__total-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #76c80e;
  margin-bottom: 1rem;
}
.main-body__container__item .body-item__status {
  background: #4c4743;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-body__container__item .body-item__status--success {
  background: #76c80e;
}
.main-body__container__item .body-item__status--pending {
  background: #ff9501;
}
.main-body__container__item .body-item__status--fail {
  background: #fe5e3a;
}
.main-body__container__item .body-item.inline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item.inline .item-image {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item .body-item.inline .item-image img {
  width: 100%;
}
.main-body__container__item .body-item.inline .item-image label {
  cursor: pointer;
}
.main-body__container__item .body-item.inline .item-image:hover {
  border: 2px solid #76c80e;
}
.main-body__container__item .action-item {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  animation: opacity_animation 0.5s;
}
.main-body__container__item .action-item__delete, .main-body__container__item .action-item__edit, .main-body__container__item .action-item__extend, .main-body__container__item .action-item__collapse {
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;
}
.main-body__container__item .action-item__extend, .main-body__container__item .action-item__collapse {
  background-color: #fe5e3a;
}
.main-body__container__item .action-item__delete {
  background-color: #fe5e3a;
}
.main-body__container__item .action-item__edit {
  background-color: #76c80e;
}
.main-body__container__item .action-item__collapse {
  display: none;
}
.main-body__container__item .role-item {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #76c80e;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  opacity: 0.3;
}
.main-body__container__item__extend {
  background: #4c474320;
  padding: 1rem;
  font-size: 1.6rem;
  display: none;
}
.main-body__container__item__extend .body-item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__item__extend .body-item__details-product {
  width: calc(70% - 1rem);
  color: #4c4743;
}
.main-body__container__item__extend .body-item__details-product .multiplier,
.main-body__container__item__extend .body-item__details-product .title,
.main-body__container__item__extend .body-item__details-product .details {
  font-size: 1.6rem;
  font-weight: 600;
}
.main-body__container__item__extend .body-item__details-product .title a {
  color: #4c4743;
}
.main-body__container__item__extend .body-item__details-product .title a:hover {
  color: #76c80e;
}
.main-body__container__item__extend .body-item__details-product .details {
  color: #4c4743;
}
.main-body__container__item__extend .body-item__details-price {
  width: calc(30% - 1rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: 600;
  color: #76c80e;
}
.main-body__container__item__extend .body-item__details-price .order-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: #76c80e;
  color: #fff;
  cursor: pointer;
}
.main-body__container__item__extend .body-item__details-price .order-confirm:hover {
  opacity: 0.5;
}
.main-body__container__item__bottom {
  margin-bottom: 1rem;
}
.main-body__container__item:hover .action-item {
  display: block;
}
.main-body__container__item.checked {
  border-color: #fe5e3a;
  background-color: #fe5e3a20;
}
.main-body__container__item.checked .body-item__title.one-line span:hover {
  border: 2px solid #fe5e3a;
}
.main-body__container__item.checked .body-item__title:hover {
  color: #fe5e3a;
}
.main-body__container__item.checked .body-item__details-image .item-image:hover {
  border: 2px solid #fe5e3a;
}
.main-body__container__item.checked .body-item__details .item-price {
  background: #fe5e3a;
}
.main-body__container__item.checked .body-item.inline .item-image:hover {
  border: 2px solid #fe5e3a;
}
.main-body__container__item.checked .role-item {
  background: #fe5e3a;
}
.main-body__container__item.no-item {
  border-left: 5px solid #4c4743;
  background-color: #4c474320;
}
.main-body__container__item.no-item .body-item__title:hover {
  color: #4c4743;
}
.main-body__container__item.no-item .body-item__details-image .item-image:hover {
  border: 2px solid #4c4743;
}
.main-body__container__item.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 0;
}
.main-body__container__item.order .body-item__title.one-line {
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.main-body__container__item.extend .action-item__extend {
  display: none;
}
.main-body__container__item.extend .action-item__collapse {
  display: initial;
}
.main-body__container__action {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__action--left {
  width: 50%;
}
.main-body__container__action--left a {
  margin-right: 1rem;
}
.main-body__container__action--left .create-item {
  font-size: 1.6rem;
  padding: 10px;
  background-color: #76c80e;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.main-body__container__action--left .create-item:hover {
  opacity: 0.5;
}
.main-body__container__action--left .uncheck-item {
  font-size: 1.6rem;
  padding: 10px;
  background-color: #4c4743;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.main-body__container__action--left .uncheck-item:hover {
  opacity: 0.5;
}
.main-body__container__action--right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__container__action--right .sort,
.main-body__container__action--right .action {
  margin-left: 1rem;
}
.main-body__container__action--right .sort__task,
.main-body__container__action--right .action__task {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.main-body__container__action--right .sort__task:focus-within,
.main-body__container__action--right .action__task:focus-within {
  border-bottom: 2px solid #76c80e;
}
.main-body__container__action--right select[multiple], .main-body__container__action--right select[size] {
  height: auto;
}
.main-body__split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-body__split-100, .main-body__split-60, .main-body__split-40 {
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px #d8d8d8;
  transition: width 0.2s;
}
.main-body__split-100 {
  width: 100%;
}
.main-body__split-60 {
  width: calc(60% - 10px);
}
.main-body__split-40 {
  width: calc(40% - 10px);
}
.main-body__split-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 5rem;
  padding: 0 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #424242;
  color: #fff;
  background: #fe5e3a;
}
.main-body__split-header--new {
  background: #1fbba6;
}
.main-body__split-header--hot {
  background: #ff9501;
}
.main-body__split-header--positive {
  background: #76c80e;
}
.main-body__split-body {
  padding: 2rem;
  height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-body__split-body .member-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d8d8d8;
}
.main-body__split-body .member-item-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  margin-right: 1rem;
  border: 1px solid #fe5e3a;
}
.main-body__split-body .member-item-avatar img {
  width: 100%;
}
.main-body__split-body .member-item-username {
  color: #4c4743;
  font-size: 1.6rem;
  font-weight: 600;
}
.main-body__split-body .hot-product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-body__split-body .hot-product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: calc(20% - 1rem);
  height: 26rem;
  overflow: hidden;
}
.main-body__split-body .hot-product-item-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 26rem;
  overflow: hidden;
}
.main-body__split-body .hot-product-item-image img {
  width: 100%;
}
.main-body__split-body .hot-product-item-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #76c80e, #1fbba6);
  opacity: 0.75;
}
.main-body__split-body .hot-product-item-background:hover {
  opacity: 0.45;
  transition: opacity 0.4s;
}
.main-body__split-body .hot-product-item-nonbackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4c4743;
  opacity: 0.75;
}
.main-body__split-body .hot-product-item-nonbackground:hover {
  opacity: 0.45;
  transition: opacity 0.4s;
}
.main-body__split-body .hot-product-item-position {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  font-weight: 600;
  color: #fff;
  background: #fe5e3a;
}
.main-body__split-body .hot-product-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}
.main-body.toggled {
  margin-left: 5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  font-size: 1.6rem;
  height: 3.5rem;
  width: 3.5rem;
  font-weight: 600;
  margin-right: 1rem;
  color: #4c4743;
  border: 1px solid #757575;
}
.pagination__item:hover {
  background-color: #76c80e;
  border-color: #76c80e;
  color: #fff;
}
.pagination__item.active {
  cursor: default;
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  color: #fff;
}
.pagination__selection {
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.pagination__selection:focus-within {
  border-bottom: 2px solid #76c80e;
}

.login {
  width: 300px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 15%;
  box-shadow: 0 1px 1px #d8d8d8;
}
.login__header {
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5e3a;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.login__header a {
  color: #fff;
}
.login__header .background-icon {
  position: absolute;
  top: 5px;
  left: -5px;
  transform: rotate(-45deg);
  font-size: 45px;
  opacity: 0.2;
}
.login__form {
  padding: 2rem;
}
.login__form .form-group input {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.login__form .form-group input:focus {
  border-bottom: 2px solid #fe5e3a;
}
.login__form .button {
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  background-color: #fe5e3a;
  border: 0;
  border-radius: 0;
}
.login__form .button:hover {
  opacity: 0.7;
}

.notification {
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 10px;
  color: #fff;
  animation: opacity_animation 0.5s;
}
.notification--success {
  background-color: #76c80e80;
  border: 1px solid #76c80e;
}
.notification--warning {
  background-color: #ff950180;
  border: 1px solid #ff9501;
}
.notification--error {
  background-color: #fe5e3a80;
  border: 1px solid #fe5e3a;
}

.notice-login {
  cursor: pointer;
  max-width: 500px;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #fe5e3a;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 15%;
  box-shadow: 0 1px 1px #d8d8d8;
}

.status-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background: #4c4743;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
}
.status-order--success {
  background: #76c80e;
}
.status-order--pending {
  background: #ff9501;
}
.status-order--fail {
  background: #fe5e3a;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 0;
  z-index: 1100;
  animation: opacity_animation 0.5s;
}
.modal.open {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal__container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 15%;
  pointer-events: none;
  width: auto;
}
.modal__container__content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  color: #7b7b7b;
  outline: 0;
}
.modal__container__content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid #d8d8d8;
}
.modal__container__content .modal-header .modal-title {
  font-size: 2rem;
  font-weight: 600;
}
.modal__container__content .modal-header .modal-close {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
}
.modal__container__content .modal-body {
  position: relative;
  font-size: 1.6rem;
  padding: 1rem;
}
.modal__container__content .modal-body .form-group {
  margin-bottom: 1.5rem;
}
.modal__container__content .modal-body .form-group label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.modal__container__content .modal-body .form-group input {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.modal__container__content .modal-body .form-group input:focus {
  border-bottom: 2px solid #fe5e3a;
}
.modal__container__content .modal-body .form-group select {
  width: 100%;
  font-size: 1.6rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #424242;
  border-bottom: 1px solid #757575;
}
.modal__container__content .modal-body .form-group select:focus-within {
  border-bottom: 2px solid #fe5e3a;
}
.modal__container__content .modal-body .form-group select[multiple], .modal__container__content .modal-body .form-group select[size] {
  height: auto;
}
.modal__container__content .modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid #d8d8d8;
}
.modal__container__content .modal-footer .modal-button {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  background-color: #fe5e3a;
  margin-left: 1rem;
  cursor: pointer;
}
.modal__container__content .modal-footer .modal-button-close {
  background-color: #7b7b7b;
}
.modal__container__content .modal-footer .modal-button:hover {
  opacity: 0.7;
}
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 1000;
}
.modal-background.open {
  display: block;
}
.modal-open {
  overflow: hidden;
}

.not-found {
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.not-found__header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  font-size: 25rem;
  font-weight: 600;
  color: #fe5e3a;
  border-radius: 75px;
  transform: rotate(-10deg);
  margin-bottom: 5rem;
  transition: color 0.2s, transform 0.5s;
}
.not-found__header:hover {
  color: #4c4743;
  transform: rotate(10deg);
}
.not-found__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #4c4743;
}
.not-found__return-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #4c4743;
  transition: font-size 0.2s;
}
.not-found__return-home:hover {
  font-size: 5rem;
  color: #fe5e3a;
}

table {
  font-family: "Roboto";
  font-size: 1.6rem;
  width: 100%;
}

.recent-order td,
.recent-order th {
  text-align: left;
  padding: 1rem 0.5rem;
}
.recent-order th {
  font-weight: 600;
  border-bottom: 2px solid #d8d8d8;
}
.recent-order .product-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0;
  overflow: hidden;
  font-weight: 600;
}

.graph {
  margin-bottom: 1em;
  font: normal 100%/150% "Roboto";
}
.graph caption {
  font: bold 150%/120% "Roboto";
  padding-bottom: 0.33em;
}
.graph tbody th {
  text-align: right;
}

@supports (display: grid) {
  .graph {
    display: block;
    width: 99%;
    height: 200px;
  }
  .graph caption {
    display: block;
  }
  .graph thead {
    display: none;
  }
  .graph tbody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    column-gap: 2%;
    align-items: end;
    height: 100%;
    margin: 4em 0 1em 0.8em;
    padding: 0 1em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(180deg, rgba(170, 170, 170, 0.7) 0, rgba(170, 170, 170, 0.7) 1px, transparent 1px, transparent 20%);
  }
  .graph tbody th {
    position: absolute;
    top: -3em;
    left: 0;
    width: 100%;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-indent: 0;
    transform: rotate(-45deg);
  }
  .graph tbody th:after {
    content: "";
  }
  .graph tbody:before, .graph tbody:after {
    position: absolute;
    left: -1.2em;
    width: 0.8em;
    text-align: right;
    font: bold 80%/120% "Roboto";
  }
  .graph tr {
    position: relative;
    display: block;
  }
  .graph tr:hover td .tooltip {
    visibility: visible;
    animation: opacity_animation 0.2s;
  }
  .graph th,
.graph td {
    display: block;
    text-align: center;
  }
  .graph td {
    width: 100%;
    height: 100%;
    background: #fe5e3a;
    transition: background 0.5s;
    position: relative;
  }
  .graph td .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #4c4743;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    margin-left: -60px;
  }
  .graph td .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4c4743 transparent transparent transparent;
  }
}
/* grid only */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe5e3a;
}

@media screen and (max-width: 1023px) {
  .header {
    margin-left: 5rem;
  }
  .header__item-toggle {
    display: none;
  }
  .header__item-search .dropdown-list {
    left: 5px;
  }

  .sidebar {
    width: 5rem;
  }
  .sidebar__header {
    width: 5rem;
  }
  .sidebar__header label {
    display: none;
  }
  .sidebar__list {
    margin-top: 0;
  }
  .sidebar__list__heading {
    display: none;
  }
  .sidebar__item .left {
    margin-right: 0;
  }
  .sidebar__item .right {
    display: none;
  }
  .sidebar__item a {
    padding: 1.5rem;
  }
  .sidebar__item label {
    display: none;
  }

  .main-body {
    margin-left: 5rem;
  }
  .main-body__statistic {
    margin-bottom: 0;
  }
  .main-body__statistic__list {
    flex-wrap: wrap;
  }
  .main-body__statistic__item {
    width: calc(50% - 10px);
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-left: 0;
  }
  .header__item {
    width: 25%;
  }
  .header__item-bars {
    display: flex;
  }
  .header__item-search {
    cursor: pointer;
    border-right: 1px solid #d8d8d8;
  }
  .header__item-search i {
    display: block;
  }
  .header__item-profile label {
    display: none;
  }
  .header__input {
    margin-top: -0.5rem;
    display: none;
  }
  .header.toggled {
    margin-left: 0;
  }

  .sidebar {
    display: none;
  }

  .main-body {
    margin-left: 0;
  }
  .main-body__statistic {
    margin-bottom: 0;
  }
  .main-body__statistic__list {
    flex-wrap: wrap;
  }
  .main-body__statistic__item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .main-body__container {
    padding: 1.5rem;
  }
  .main-body__container__panel {
    flex-wrap: wrap;
  }
  .main-body__container__panel .split {
    width: 100%;
  }
  .main-body__container__item .body-item__width-70, .main-body__container__item .body-item__width-30 {
    width: calc(50% - 1rem);
  }
  .main-body__container__item__extend .body-item__details-product, .main-body__container__item__extend .body-item__details-price {
    width: calc(50% - 1rem);
  }
  .main-body__container__item.order .body-item__title.one-line {
    font-size: 1.8rem;
    -webkit-line-clamp: 2;
  }
  .main-body__container .submit-button {
    width: 100%;
  }
  .main-body__split-100, .main-body__split-60, .main-body__split-40 {
    width: 100%;
  }
  .main-body__split-body .hot-product-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-body__split-body .hot-product-item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
  .main-body__split-body .hot-product-item:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  .main-body.toggled {
    margin-left: 0;
  }

  .modal__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 479px) {
  table {
    font-size: 1.2rem;
  }

  .main-body {
    padding: 1rem;
  }
  .main-body__statistic__item {
    margin-bottom: 1rem;
  }
  .main-body__container {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .main-body__container__action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-body__container__action--left {
    width: 100%;
  }
  .main-body__container__action--left .create-item,
.main-body__container__action--left .uncheck-item {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-body__container__action--left a {
    margin-right: 0;
  }
  .main-body__container__action--right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .main-body__container__action--right .sort,
.main-body__container__action--right .action {
    width: calc(50% - 0.5rem);
    margin-left: 0;
  }
  .main-body__container__action--right .sort.full,
.main-body__container__action--right .action.full {
    width: 100%;
  }
  .main-body__container__item .body-item__width-70, .main-body__container__item .body-item__width-30 {
    width: 100%;
  }
  .main-body__container__item__extend .body-item__details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-body__container__item__extend .body-item__details-product, .main-body__container__item__extend .body-item__details-price {
    width: 100%;
  }
  .main-body__container__item.order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-body__container__item.order .body-item__title.one-line {
    font-size: 1.6rem;
    -webkit-line-clamp: 3;
  }
  .main-body__split-body {
    padding: 1rem;
  }
  .main-body__split-body .hot-product-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .main-body__split-body .hot-product-item:last-child {
    margin-bottom: 0;
  }
  .main-body__split-100, .main-body__split-60, .main-body__split-40 {
    margin-bottom: 1rem;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .pagination__item {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
  }
  .pagination__selection {
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .not-found__header {
    font-size: 10rem;
    border-radius: 3.5rem;
    background: none;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 359px) {
  table {
    font-size: 1rem;
  }
}
@keyframes opacity_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
