$primary_color: #fe5e3a;
$primary_color_opacity_20: #fe5e3a20;
$primary_color_opacity_40: #fe5e3a40;
$primary_color_opacity_60: #fe5e3a60;
$primary_color_opacity_80: #fe5e3a80;
$second_color: #ff9501;
$second_color_opacity_20: #ff950120;
$second_color_opacity_40: #ff950140;
$second_color_opacity_60: #ff950160;
$second_color_opacity_80: #ff950180;
$third_color: #76c80e;
$third_color_opacity_20: #76c80e20;
$third_color_opacity_40: #76c80e40;
$third_color_opacity_60: #76c80e60;
$third_color_opacity_80: #76c80e80;
$fourth_color: #1fbba6;
$fourth_color_opacity_20: #1fbba620;
$fourth_color_opacity_40: #1fbba640;
$fourth_color_opacity_60: #1fbba660;
$fourth_color_opacity_80: #1fbba680;
$gray_color: #4c4743;
$gray_color_opacity_20: #4c474320;
$gray_color_opacity_40: #4c474340;
$gray_color_opacity_60: #4c474360;
$gray_color_opacity_80: #4c474380;
$white_color: #fff;
$shadow_color: #d8d8d8;

$text_color: #7b7b7b;

$border_input: #757575;
$color_input: #424242;

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    background-color: #f1f1f1;
    // transition: display 0.2s, margin-left 0.2s;
}

// button {
//     @include flex(center, center);
//     cursor: pointer;
//     width: 100%;
//     margin-top: 1.5rem;
//     padding: 10px;
//     color: $white_color;
//     font-size: 1.6rem;
//     background-color: $primary_color;
//     border: 0;
//     border-radius: 0;
//     visibility: hidden;
//     // display: none;
// }

.wrapper {
    width: 100%;
}

.header {
    margin-left: 25rem;
    background-color: $white_color;
    transition: margin-left 0.2s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    &__list {
        @include flex(center);
        height: 5rem;
        box-shadow: 0 1px 1px $shadow_color;
    }

    &__item {
        position: relative;
        padding: 1rem;
        height: 5rem;
        width: 10%;
        font-size: 1.4rem;
        border-right: 1px solid $shadow_color;
        animation: opacity_animation 0.2s;
        @include flex(center, center);

        .dropdown-list {
            position: absolute;
            display: none;
            width: 100%;
            background-color: $white_color;
            top: 55px;
            box-shadow: 0 1px 1px $shadow_color;
            border: 1px solid #00000020;
            // border-top: 0;
            animation: opacity_animation 0.2s;

            .dropdown-item {
                border-bottom: 1px solid $shadow_color;
                &:last-child {
                    border-bottom: 0;
                }

                a {
                    display: block;
                    color: $gray_color;
                    padding: 10px;
                }

                label {
                    cursor: pointer;
                }

                &__body {
                    @include flex(center, flex-start);
                    cursor: pointer;
                }

                &__image {
                    @include flex(center, center);
                    width: 3.5rem;
                    height: 3.5rem;
                    overflow: hidden;
                    margin-right: 1rem;

                    img {
                        width: 100%;
                    }
                }

                &:hover {
                    background: $shadow_color;
                }
            }
        }

        &-bars {
            display: none;
            cursor: pointer;
            .dropdown-list {
                background-color: $gray_color;
                .dropdown-item {
                    border-bottom: 1px solid #45403c;
                    a {
                        color: $white_color;
                    }

                    &:hover {
                        background-color: #433e3a;
                    }

                    &.active {
                        background-color: #33302c;
                        a {
                            cursor: default;
                        }
                    }
                }
            }
        }

        &-toggle {
            cursor: pointer;
        }

        &-search{
            width: 100%;
            border-right: 0;
            i {
                display: none;
            }

            .dropdown-list {
                left: 0;
                .dropdown-item {
                    label {
                        font-size: 1.6rem;
                        font-weight: 600;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }
            }
        }

        &-notification {
            cursor: pointer;

            .dropdown-list {
                width: 250px;
            }
        }

        &-tasks {
            cursor: pointer;

            .dropdown-list {
                width: 250px;
            }
        }

        &-profile {
            // @include flex(center, center);
            width: 40%;
            border-right: 0;
            cursor: pointer;
            position: relative;
            .avatar {
                @include flex(center, center);
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                border-radius: 100%;
                border: 1px solid $primary_color;
                // width: 20%;
                img {
                    width: 100%;
                    // height: 30px;
                    // border-radius: 100%;
                }
            }

            label {
                margin-left: 1rem;
                cursor: pointer;
                // width: 100%;
            }

            i {
                margin-left: 1rem;
                // width: 20%;
            }
        }
    }

    &__input {
        width: 100%;
        flex-grow: 1;
        border: 0;
        outline: none;
        font-size: 1.4rem;
        font-family: "Roboto";
        background-color: transparent;
    }

    &.toggled {
        margin-left: 5rem;
    }
}

.sidebar {
    font-size: 1.4rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 25rem;
    background-color: $gray_color;
    color: #afb0ab;
    z-index: 1;
    transition: width 0.2s;
    overflow-y: auto;
    overflow-x: hidden;

    &__header {
        width: 25rem;
        height: 5rem;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 0 1px 1px $shadow_color;
        background-color: $primary_color;
        color: $white_color;
        z-index: 1;
        transition: width 0.2s;
        position: fixed;
        overflow: hidden;

        a {
            color: $white_color;
            z-index: 1000;

            label {
                cursor: pointer;
            }
        }

        .background-icon {
            position: absolute;
            top: 5px;
            left: -5px;
            transform: rotate(-45deg);
            font-size: 45px;
            opacity: 0.5;
        }
    }

    &__lists {
        margin-top: 5rem;
    }

    &__list {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        width: 100%;

        &__heading {
            text-transform: uppercase;
            height: 5rem;
            display: flex;
            align-items: center;
            padding-left: 2rem;
        }
    }

    &__item {
        position: relative;
        display: block;
        border-bottom: 1px solid #45403c;

        a {
            color: #afb0ab;
            position: relative;
            display: block;
            padding: 15px 20px;

        }

        .left {
            i {
                margin-right: 1.5rem;
            }
        }

        .right {
            position: absolute;
            right: 2rem;
        }

        label {
            cursor: pointer;
        }

        &:hover {
            background-color: #433e3a;
        }

        &.active {
            background-color: #33302c;
            a {
                cursor: default;
            }
        }
    }

    &.toggled {
        width: 5rem;

        .sidebar {
            &__header {
                width: 5rem;
                label {
                    display: none;
                }
            }
            &__list {
                margin-top: 0;
                &__heading {
                    display: none;
                }
            }

            &__item {
                .left {
                    margin-right: 0;
                }
                .right {
                    display: none;
                }
                a {
                    padding: 1.5rem;
                }
    
                label {
                    display: none;
                }
            }
        }
    }
}

.main-body {
    position: inherit;
    margin-left: 25rem;
    z-index: 1000;
    margin-top: 5rem;
    padding: 2rem;
    transition: margin-left 0.2s;
    &__statistic {
        margin-bottom: 2rem;
        &__list {
            @include flex(center, space-between);
        }

        &__item {
            @include flex(center, center);
            width: calc(25% - 22.5px);
            background-color: $white_color;
            box-shadow: 0 1px 1px $shadow_color;
            .icon {
                width: 6rem;
                padding: 2rem;
                background-color: $primary_color;
                color: $white_color;

                i {
                    font-size: 2rem;
                }
            }

            .info {
                width: 100%;
                padding: 1rem;
                color: $text_color;
                overflow: hidden;
                .heading {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }

            &--new {
                .icon {
                    background-color: #ff9501;
                }
            }

            &--total {
                .icon {
                    background-color: #76c80e;
                }
            }

            &--visitor {
                .icon {
                    background-color: #1fbba6;
                }
            }
        }
    }

    &__container {
        padding: 2rem;
        margin-bottom: 2rem;
        background-color: $white_color;
        box-shadow: 0 1px 1px $shadow_color;

        &__title {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        &__panel {
            @include flex(flex-start, space-between);
            .split {
                width: calc(50% - 10px);
                transition: width 0.2s;
            }
        }

        .form-group {
            margin-bottom: 1.5rem;
            label {
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            input {
                width: 100%;
                font-size: 1.6rem;
                height: 3.5rem;
                border: 0;
                outline: 0;
                border-radius: 0;
                color: $color_input;
                border-bottom: 1px solid $border_input;
                font-family: "Roboto";

                &:focus {
                    border-bottom: 2px solid $primary_color;
                }
            }

            textarea {
                width: 100% !important;
                font-family: "Roboto";
                font-size: 1.6rem;
                border: 0;
                outline: 0;
                border-radius: 0;
                color: $color_input;
                border-bottom: 1px solid $border_input;

                &:focus {
                    border-bottom: 2px solid $primary_color;
                }
            }

            select {
                width: 100%;
                font-size: 1.6rem;
                height: 3.5rem;
                border: 0;
                outline: 0;
                border-radius: 0;
                color: $color_input;
                border-bottom: 1px solid $border_input;

                &:focus-within {
                    border-bottom: 2px solid $primary_color;
                }
            }

            select[multiple], select[size] {
                height: auto;
            }

            .product-details-item {
                margin-bottom: 1rem;
                animation: opacity_animation 0.2s;
                @include flex(center, space-between);

                input {
                    width: calc(45% - 15px);
                }

                .minus-button {
                    width: 3.5rem;
                    background-color: $gray_color;
                }
            }

            .plus-button,
            .minus-button {
                cursor: pointer;
                height: 3.5rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white_color;
                font-size: 1.6rem;
                background-color: $fourth_color;

                &:hover {
                    opacity: 0.5;
                }
            }

            .product-images {
                @include flex(center, flex-start, wrap);
                margin-top: 1rem;
                margin-bottom: -0.5rem;

                .product-images-item {
                    @include flex(center, center);
                    position: relative;
                    width: 7rem;
                    height: 7rem;
                    overflow: hidden;
                    border: 2px solid $third_color;
                    margin-top: 0.5rem;
                    margin-right: 0.5rem;
                    transition: border 0.2s;

                    img {
                        width: 100%;
                    }

                    .delete-image-button {
                        @include flex(center, center);
                        font-size: 1.6rem;
                        font-weight: 600;
                        height: 2rem;
                        width: 2rem;
                        color: $white_color;
                        background-color: $third_color;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: background-color 0.2s;
                    }

                    &:hover {
                        border: 2px solid $primary_color;

                        .delete-image-button {
                            background-color: $primary_color;
                        }
                    }
                }
            }

            .avatar-profile {
                margin-bottom: 1rem;
                @include flex(center, center);
                .border-avatar {
                    @include flex(center, center);
                    width: 20rem;
                    height: 20rem;
                    border-radius: 100%;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                    }
                }
            }

            .birthday {
                @include flex(center, space-between);
                .day,
                .month,
                .year {
                    width: calc(100%/3 - 5px);
                }
            }
        }

        .submit-button {
            cursor: pointer;
            width: 50%;
            // margin-top: 1.5rem;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.6rem;
            background-color: $primary_color;
            border: 0;
            border-radius: 0;

            &:hover {
                opacity: 0.5;
            }
        }

        &__item {
            font-size: 1.6rem;
            border-left: 5px solid $third_color;
            background-color: $third_color_opacity_20;
            padding: 1rem;
            margin-bottom: 1rem;
            position: relative;
            @include flex(center, flex-start);

            .checkbox-item {
                width: 5rem;
            }

            .body-item {
                @include flex(center, flex-start, wrap);

                &__title {
                    // width: 100%;
                    color: $gray_color;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    &.one-line {
                        margin-bottom: 0;
                        @include flex(center, center);

                        span {
                            width: 5rem;
                            height: 5rem;
                            overflow: hidden;
                            border: 1px solid $shadow_color;
                            margin-right: 0.5rem;
                            @include flex(center, center);

                            img {
                                width: 100%;
                            }

                            label {
                                cursor: pointer;
                            }

                            &:hover {
                                border: 2px solid $third_color;
                            }
                        }
                    }

                    &.user-item {
                        @include flex(center, center);

                        .item-avatar {
                            width: 5rem;
                            height: 5rem;
                            border-radius: 0.5rem;
                            overflow: hidden;
                            border: 1px solid $shadow_color;
                            margin-right: 0.5rem;
                            @include flex(center, center);

                            img {
                                width: 100%;
                            }

                            &:hover {
                                border: 2px solid $third_color;
                            }
                        }

                        .item-username {
                            @include flex(center, center, wrap);
                            label {
                                width: 100%;
                                cursor: pointer;
                            }
                        }
                    }
                    
                    &:hover {
                        color: $third_color;
                    }
                }

                &__info {
                    width: 100%;
                    @include flex(center, flex-start, wrap);
                }

                &__details {
                    width: 100%;
                    &-image {
                        .list-image {
                            @include flex(center, flex-start);
                        }

                        .item-image {
                            @include flex(center, center);
                            width: 5rem;
                            height: 5rem;
                            overflow: hidden;
                            border: 1px solid $shadow_color;
                            margin-right: 0.5rem;
                            img {
                                width: 100%;
                            }
                            
                            &:hover {
                                border: 2px solid $third_color;
                            }
                        }
                    }

                    .item-price {
                        border-radius: 0.5rem;
                        padding: 0 1rem;
                        font-size: 2rem;
                        font-weight: 600;
                        color: $white_color;
                        background: $third_color;
                    }

                    &-size,
                    &-color,
                    &-amount,
                    &-category,
                    &-brand {
                        display: inline-block;
                        height: 2.5rem;
                        margin-right: 0.5rem;
                        color: $gray_color;

                        .title {
                            font-weight: 600;
                        }
                        
                        .desc {
                            padding: 0.5rem;
                        }
                    }
                }

                &__width-70 {
                    width: calc(70% - 1rem);
                }

                &__width-30 {
                    width: calc(30% - 1rem);
                }

                &__status {
                    @include flex(center, center);
                }

                &__total-price {
                    @include flex(center, flex-start);
                    width: 100%;
                    border-radius: 0.5rem;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $third_color;
                    margin-bottom: 1rem;
                }

                &__status {
                    background: $gray_color;
                    color: $white_color;
                    padding: 3px;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-bottom: 0.5rem;

                    &--success {
                        background: $third_color;
                    }

                    &--pending {
                        background: $second_color;
                    }

                    &--fail {
                        background: $primary_color;
                    }
                }

                &.inline {
                    @include flex(center, center);

                    .item-image {
                        width: 5rem;
                        height: 5rem;
                        overflow: hidden;
                        border: 1px solid $shadow_color;
                        margin-right: 0.5rem;
                        @include flex(center, center);

                        img {
                            width: 100%;
                        }

                        label {
                            cursor: pointer;
                        }

                        &:hover {
                            border: 2px solid $third_color;
                        }
                    }
                }
            }

            .action-item {
                display: none;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                animation: opacity_animation 0.5s;
                &__delete,
                &__edit,
                &__extend,
                &__collapse {
                    color: $white_color;
                    font-weight: 600;
                    padding: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                    cursor: pointer;
                }

                &__extend,
                &__collapse {
                    background-color: $primary_color;
                }

                &__delete {
                    background-color: $primary_color;
                }

                &__edit {
                    background-color: $third_color;
                }

                &__collapse {
                    display: none;
                }
            }

            .role-item {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $third_color;
                color: $white_color;
                font-weight: 600;
                padding: 0.5rem;
                border-top-left-radius: 0.5rem;
                opacity: 0.3;
            }

            &__extend {
                background: $gray_color_opacity_20;
                padding: 1rem;
                font-size: 1.6rem;
                display: none;

                .body-item {
                    &__details {
                        @include flex(center, space-between);

                        &-product {
                            width: calc(70% - 1rem);
                            color: $gray_color;

                            .multiplier,
                            .title,
                            .details {
                                font-size: 1.6rem;
                                font-weight: 600;
                            }

                            .title {
                                a {
                                    color: $gray_color;

                                    &:hover {
                                        color: $third_color;
                                    }
                                }
                            }

                            .details {
                                color: $gray_color;
                            }
                        }

                        &-price {
                            width: calc(30% - 1rem);
                            @include flex(center, flex-start);
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: $third_color;

                            .order-confirm {
                                @include flex(center, center);
                                margin-top: 1rem;
                                width: 100%;
                                font-size: 1.6rem;
                                padding: 0.5rem 1rem;
                                background-color: $third_color;
                                color: $white_color;
                                cursor: pointer;

                                &:hover {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }

            &__bottom {
                margin-bottom: 1rem;
            }

            &:hover {
                .action-item {
                    display: block;
                }
            }

            &.checked {
                border-color: $primary_color;
                background-color: $primary_color_opacity_20;

                .body-item {

                    &__title {
                        &.one-line {
                            span {
                                &:hover {
                                    border: 2px solid $primary_color;
                                }
                            }
                        }
                        &:hover {
                            color: $primary_color;
                        }
                    }
    
                    &__details {
                        &-image {
    
                            .item-image {
                                &:hover {
                                    border: 2px solid $primary_color;
                                }
                            }
                        }

                        .item-price {
                            background: $primary_color;
                        }
                    }

                    &.inline {
                        .item-image {
                            &:hover {
                                border: 2px solid $primary_color;
                            }
                        }
                    }
                }

                .role-item {
                    background: $primary_color;
                }
            }

            &.no-item {
                border-left: 5px solid $gray_color;
                background-color: $gray_color_opacity_20;

                .body-item {

                    &__title {
                        &:hover {
                            color: $gray_color;
                        }
                    }
    
                    &__details {
                        &-image {
    
                            .item-image {
                                &:hover {
                                    border: 2px solid $gray_color;
                                }
                            }
                        }
                    }
                }
            }

            &.order {
                @include flex(center, space-between);
                margin-bottom: 0;

                .body-item {
                    &__title {
                        &.one-line {
                            width: 100%;
                            text-transform: uppercase;
                            font-size: 2rem;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }
                    }
                }
            }

            &.extend {
                .action-item {
                    &__extend {
                        display: none;
                    }

                    &__collapse {
                        display: initial;
                    }
                }
            }
        }

        &__action {
            margin-bottom: 1rem;
            @include flex(center, flex-start);
            &--left {
                width: 50%;
                a {
                    margin-right: 1rem;
                }
                .create-item {
                    font-size: 1.6rem;
                    padding: 10px;
                    background-color: $third_color;
                    color: $white_color;
                    cursor: pointer;
                    display: inline-block;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .uncheck-item {
                    font-size: 1.6rem;
                    padding: 10px;
                    background-color: $gray_color;
                    color: $white_color;
                    cursor: pointer;
                    display: inline-block;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &--right {
                width: 50%;
                @include flex(center, flex-end);

                .sort,
                .action {
                    margin-left: 1rem;
                    &__task {
                        width: 100%;
                        font-size: 1.6rem;
                        height: 3.5rem;
                        border: 0;
                        outline: 0;
                        border-radius: 0;
                        color: $color_input;
                        border-bottom: 1px solid $border_input;

                        &:focus-within {
                            border-bottom: 2px solid $third_color;
                        }
                    }
                }

                select[multiple], select[size] {
                    height: auto;
                }
            }
        }
    }

    &__split {
        @include flex(flex-start, space-between, wrap);

        &-100,
        &-60,
        &-40 {
            // padding: 2rem;
            margin-bottom: 2rem;
            background-color: $white_color;
            box-shadow: 0 1px 1px $shadow_color;
            transition: width 0.2s;
        }

        &-100 {
            width: 100%;
        }

        &-60 {
            width: calc(60% - 10px);
        }

        &-40 {
            width: calc(40% - 10px);
        }

        &-header {
            @include flex(center, flex-start);
            height: 5rem;
            padding: 0 2rem;
            font-weight: 500;
            font-size: 1.6rem;
            color: $color_input;
            color: $white_color;
            background: $primary_color;

            &--new {
                background: $fourth_color;
            }

            &--hot {
                background: $second_color;
            }

            &--positive {
                background: $third_color;
            }
        }

        &-body {
            padding: 2rem;
            height: 30rem;
            overflow-x: hidden;
            overflow-y: auto;

            .member-item {
                @include flex(center, flex-start);
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $shadow_color;

                &-avatar {
                    @include flex(center, center);
                    height: 5rem;
                    width: 5rem;
                    overflow: hidden;
                    margin-right: 1rem;
                    border: 1px solid $primary_color;
                    img {
                        width: 100%;
                    }
                }

                &-username {
                    color: $gray_color;
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }

            .hot-product-list {
                @include flex(center, space-between);
            }

            .hot-product-item {
                @include flex(center, center);
                width: calc(20% - 1rem);
                // width: 18rem;
                height: 26rem;
                overflow: hidden;

                &-image {
                    position: relative;
                    @include flex(center, center);
                    width: 100%;
                    height: 26rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                &-background {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-image: linear-gradient(to bottom, $third_color , $fourth_color);
                    opacity: 0.75;

                    &:hover {
                        opacity: 0.45;
                        transition: opacity 0.4s;
                    }
                }

                &-nonbackground {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: $gray_color;
                    opacity: 0.75;

                    &:hover {
                        opacity: 0.45;
                        transition: opacity 0.4s;
                    }
                }

                &-position {
                    @include flex(center, center);
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0.5rem;
                    font-size: 3rem;
                    width: 5rem;
                    height: 5rem;
                    font-weight: 600;
                    color: $white_color;
                    background: $primary_color;
                }

                &-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $white_color;
                }
            }
        }
    }

    &.toggled {
        margin-left: 5rem;
    }
}

.pagination {
    @include flex(center, flex-start);
    &__list {
        @include flex(center, flex-start);
    }

    &__item {
        @include flex(center, center);
        cursor: pointer;
        font-size: 1.6rem;
        height: 3.5rem;
        width: 3.5rem;
        font-weight: 600;
        margin-right: 1rem;
        color: $gray_color;
        border: 1px solid $border_input;

        &:hover {
            background-color: $third_color;
            border-color: $third_color;
            color: $white_color;
        }

        &.active {
            cursor: default;
            background-color: $shadow_color;
            border-color: $shadow_color;
            color: $white_color;
        }
    }

    &__selection {
        font-size: 1.6rem;
        height: 3.5rem;
        border: 0;
        outline: 0;
        border-radius: 0;
        color: $color_input;
        border-bottom: 1px solid $border_input;

        &:focus-within {
            border-bottom: 2px solid $third_color;
        }
    }
}

.login {
    width: 300px;
    background-color: $white_color;
    margin: 0 auto;
    margin-top: 15%;
    box-shadow: 0 1px 1px $shadow_color;

    &__header {
        height: 5rem;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary_color;
        color: $white_color;
        position: relative;
        overflow: hidden;

        a {
            color: $white_color;
        }

        .background-icon {
            position: absolute;
            top: 5px;
            left: -5px;
            transform: rotate(-45deg);
            font-size: 45px;
            opacity: 0.2;
        }
    }

    &__form {
        padding: 2rem;    
        .form-group {
            input {
                width: 100%;
                font-size: 1.6rem;
                height: 3.5rem;
                border: 0;
                outline: 0;
                border-radius: 0;
                color: $color_input;
                border-bottom: 1px solid $border_input;

                &:focus {
                    border-bottom: 2px solid $primary_color;
                }
            }
        }

        .button {
            cursor: pointer;
            width: 100%;
            margin-top: 1.5rem;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white_color;
            font-size: 1.6rem;
            background-color: $primary_color;
            border: 0;
            border-radius: 0;
            &:hover {
                opacity: 0.7;
            }
        }

    }
}

.notification {
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 10px;
    color: $white_color;
    animation: opacity_animation 0.5s;
    &--success {
        background-color: $third_color_opacity_80;
        border: 1px solid $third_color;
    }

    &--warning {
        background-color: $second_color_opacity_80;
        border: 1px solid $second_color;
    }

    &--error {
        background-color: $primary_color_opacity_80;
        border: 1px solid $primary_color;
    }
}

.notice-login {
    cursor: pointer;
    max-width: 500px;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: $primary_color;
    color: $white_color;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 15%;
    box-shadow: 0 1px 1px $shadow_color;
}

.status-order {
    @include flex(center, center);
    background: $gray_color;
    color: $white_color;
    padding: 3px;
    border-radius: 5px;
    font-weight: 600;
    &--success {
        background: $third_color;
    }

    &--pending {
        background: $second_color;
    }

    &--fail {
        background: $primary_color;
    }
}

.modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    outline: 0;
    z-index: 1100;
    animation: opacity_animation 0.5s;

    &.open {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__container {
        position: relative;
        max-width: 50rem;
        margin: 0 auto;
        margin-top: 15%;
        pointer-events: none;
        width: auto;

        &__content {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: $white_color;
            border: 1px solid $shadow_color;
            width: 100%;
            pointer-events: auto;
            background-clip: padding-box;
            color: $text_color;
            outline: 0;

            .modal-header {
                @include flex(center, space-between);
                padding: 1rem;
                border-bottom: 1px solid $shadow_color;

                .modal-title {
                    font-size: 2rem;
                    font-weight: 600;
                }

                .modal-close {
                    cursor: pointer;
                    font-size: 2rem;
                    font-weight: 600;
                }
            }

            .modal-body {
                position: relative;
                font-size: 1.6rem;
                padding: 1rem;
                
                .form-group {
                    margin-bottom: 1.5rem;
                    label {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                    }
        
                    input {
                        width: 100%;
                        font-size: 1.6rem;
                        height: 3.5rem;
                        border: 0;
                        outline: 0;
                        border-radius: 0;
                        color: $color_input;
                        border-bottom: 1px solid $border_input;
        
                        &:focus {
                            border-bottom: 2px solid $primary_color;
                        }
                    }
        
                    select {
                        width: 100%;
                        font-size: 1.6rem;
                        height: 3.5rem;
                        border: 0;
                        outline: 0;
                        border-radius: 0;
                        color: $color_input;
                        border-bottom: 1px solid $border_input;
        
                        &:focus-within {
                            border-bottom: 2px solid $primary_color;
                        }
                    }
        
                    select[multiple], select[size] {
                        height: auto;
                    }
                }
            }

            .modal-footer {
                @include flex(center, flex-end);
                padding: 1rem;
                border-top: 1px solid $shadow_color;

                .modal-button {
                    padding: 5px;
                    @include flex(center, center);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white_color;
                    font-size: 1.6rem;
                    background-color: $primary_color;
                    margin-left: 1rem;
                    cursor: pointer;

                    &-close {
                        background-color: $text_color;
                    }

                    &:hover {
                        opacity: 0.7;
                    }

                }
            }
        }
    }



    &-background {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.8;
        z-index: 1000;

        &.open {
            display: block;
        }
    }

    &-open {
        overflow: hidden;
    }
}

.not-found {
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 15%;
    @include flex(center, center, wrap);

    &__header {
        cursor: pointer;
        @include flex(center, center, wrap);
        width: 100%;
        font-size: 25rem;
        font-weight: 600;
        color: $primary_color;
        border-radius: 75px;
        transform: rotate(-10deg);
        margin-bottom: 5rem;
        transition: color 0.2s, transform 0.5s;

        &:hover {
            color: $gray_color;
            transform: rotate(10deg);
        }
    }

    &__body {
        @include flex(center, center, wrap);
        width: 100%;
        font-size: 2rem;
        font-weight: 600;
        color: $gray_color;
    }

    &__return-home {
        @include flex(center, center, wrap);
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: 600;
        color: $gray_color;
        transition: font-size 0.2s;
        
        &:hover {
            font-size: 5rem;
            color: $primary_color;
        }
    }
}

//TABLE
table {
    font-family: "Roboto";
    font-size: 1.6rem;
    width: 100%;
}

.recent-order {
    td,
    th {
        text-align: left;
        padding: 1rem 0.5rem;
    }

    th {
        font-weight: 600;
        border-bottom: 2px solid $shadow_color;
    }

    .product-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        padding: 0;
        overflow: hidden;
        font-weight: 600;
    }
}

.graph {
	margin-bottom:1em;
    font:normal 100%/150% "Roboto";

    caption {
        font:bold 150%/120% "Roboto";
        padding-bottom:0.33em;
    }

    tbody {
        th {
            text-align:right;
        }
    }
}

@supports (display:grid) {

    .graph {
        display:block;
        width:99%;
        height:200px;

        caption {
            display:block;
        }

        thead {
            display:none;
        }

        tbody {
            position:relative;
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
            column-gap:2%;
            align-items:end;
            height:100%;
            margin:4em 0 1em 0.8em;
            padding:0 1em;
            border-bottom:1px dotted rgba(0,0,0,0.5);
            background:repeating-linear-gradient(
                180deg,
                rgba(170,170,170,0.7) 0,
                rgba(170,170,170,0.7) 1px,
                transparent 1px,
                transparent 20%
            );

            th {
                position:absolute;
                top:-3em;
                left:0;
                width:100%;
                font-weight:normal;
                text-align:center;
                white-space:nowrap;
                text-indent:0;
                transform:rotate(-45deg);

                &:after {
                    content:"";
                }
            }

            &:before,
            &:after {
                position:absolute;
                left:-1.2em;
                width:0.8em;
                text-align:right;
                font:bold 80%/120% "Roboto";
            }
        }

        tr {
            position:relative;
            display:block;

            &:hover {
                td {
                    .tooltip {
                        visibility: visible;
                        animation: opacity_animation 0.2s;
                    }
                }
            }
        }

        th,
        td {
            display:block;
            text-align:center;
        }

        td {
            width:100%;
            height:100%;
            background: $primary_color;
            transition: background 0.5s;
            position: relative;

            .tooltip {
                visibility: hidden;
                width: 120px;
                background-color: $gray_color;
                color: $white_color;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: -30px;
                left: 50%;
                margin-left: -60px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $gray_color transparent transparent transparent;
                }
            }
        }
    }

} /* grid only */


/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: $text_color;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary_color;
}

@media screen and (max-width: 1023px) {
    .header {
        margin-left: 5rem;

        &__item {

            &-toggle {
                display: none;
            }

            &-search {
                .dropdown-list {
                    left: 5px;
                }
            }
        }
    }

    .sidebar {
        width: 5rem;
        &__header {
            width: 5rem;
            label {
                display: none;
            }
        }
        &__list {
            margin-top: 0;
            &__heading {
                display: none;
            }
        }
        &__item {
            .left {
                margin-right: 0;
            }
            .right {
                display: none;
            }
            a {
                padding: 1.5rem;
            }

            label {
                display: none;
            }
        }
    }

    .main-body {
        margin-left: 5rem;
        &__statistic {
            margin-bottom: 0;
            &__list {
                flex-wrap: wrap;
            }
            &__item {
                width: calc(50% - 10px);
                margin-bottom: 2rem;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .header {
        margin-left: 0;
        &__item {
            width: 25%;
            &-bars {
                display: flex;
            }
            &-search{
                cursor: pointer;
                border-right: 1px solid $shadow_color;
                i {
                    display: block;
                }
            }
            &-profile {
                label {
                   display: none; 
                }
            }
        }

        &__input {
            margin-top: -0.5rem;
            display: none;
        }

        &.toggled {
            margin-left: 0;
        }
    }
    .sidebar {
        display: none;
    }
    .main-body {
        margin-left: 0;
        &__statistic {
            margin-bottom: 0;
            &__list {
                flex-wrap: wrap;
            }
            &__item {
                width: 100%;
                margin-bottom: 2rem;
            }
        }

        &__container {
            padding: 1.5rem;
            &__panel {
                flex-wrap: wrap;
                .split {
                    width: 100%;
                }
            }

            &__item {
                .body-item {
                    &__width-70,
                    &__width-30 {
                        width: calc(50% - 1rem);
                    }
                }

                &__extend {
                    .body-item {
                        &__details{
                            &-product,
                            &-price {
                                width: calc(50% - 1rem);
                            }
                        }
                    }
                }

                &.order {
                    .body-item {
                        &__title {
                            &.one-line {
                                font-size: 1.8rem;
                                -webkit-line-clamp: 2;
                            }
                        }
                    }
                }
            }

            .submit-button {
                width: 100%;
            }
        }

        &__split {
            &-100,
            &-60,
            &-40 {
                width: 100%;
            }

            &-body {
                .hot-product-list {
                    @include flex(center, space-between, wrap);
                }
                .hot-product-item {
                    width: calc(50% - 1rem);
                    margin-bottom: 2rem;

                    &:last-child {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.toggled {
            margin-left: 0;
        }
    }

    .modal {
        &__container {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 479px) {
    table {
        font-size: 1.2rem;
    }

    .header {
        &__item {
            padding: 0.5rem;
        }
    }

    .main-body {
        padding: 1rem;

        &__statistic {
            &__item {
                margin-bottom: 1rem;
            }
        }

        &__container {
            margin-bottom: 1rem;
            padding: 1rem;
            &__action {
                @include flex(center, flex-start, wrap);
                &--left {
                    width: 100%;
                    .create-item,
                    .uncheck-item {
                        width: 100%;
                        margin-bottom: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    a {
                        margin-right: 0;
                    }
                }

                &--right {
                    width: 100%;
                    @include flex(center, space-between);
                    .sort,
                    .action {
                        width: calc(50% - 0.5rem);
                        margin-left: 0;

                        &.full {
                            width: 100%;
                        }
                    }
                }
            }

            &__item {
                .body-item {
                    &__width-70,
                    &__width-30 {
                        width: 100%;
                    }
                }

                &__extend {
                    .body-item {
                        &__details{
                            @include flex(center, center, wrap);
                            &-product,
                            &-price {
                                width: 100%;
                            }
                        }
                    }
                }

                &.order {
                    @include flex(center, center, wrap);

                    .body-item {
                        &__title {
                            &.one-line {
                                font-size: 1.6rem;
                                -webkit-line-clamp: 3;
                            }
                        }
                    }
                }
            }
        }

        &__split {

            &-body {
                padding: 1rem;
                .hot-product-item {
                    width: 100%;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-100,
            &-60,
            &-40 {
                margin-bottom: 1rem;
            }
        }
    }

    .pagination {
        @include flex(center, flex-start, wrap);
        &__item {
            height: 2.5rem;
            width: 2.5rem;
            margin-bottom: 1rem;
        }

        &__selection {
            height: 2.5rem;
            margin-bottom: 1rem;
        }
    }

    .not-found {
        &__header {
            font-size: 10rem;
            border-radius: 3.5rem;
            background: none;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 359px) {
    table {
        font-size: 1rem;
    }
}

@keyframes opacity_animation {
    from {opacity: 0;}
    to {opacity: 1;}
}