<!-- header -->
<header class="header">
  <div class="grid wide">
    <!-- header navbar -->
    <nav class="header__navbar hide-on-mobile-tablet">
      <!-- header navbar left -->
      <ul class="header__navbar-list">
        <li class="
            header__navbar-item
            header__navbar-item-has-qr
            header__navbar-item--separate
          ">
          Vào cửa hàng trên ứng dụng C-Shop
          <div class="header__qr">
            <img src="../../public/img/qrcode.png" alt="QR code" class="header__qr-img" />
            <div class="header__qr-apps">
              <a class="header__qr-link">
                <img src="../../public/img/ch_play.png" alt="CH Play" class="header__qr-download-img" />
              </a>
              <a class="header__qr-link">
                <img src="../../public/img/apstore.png" alt="Apstore" class="header__qr-download-img" />
              </a>
            </div>
          </div>
        </li>
        <li class="header__navbar-item">
          <span class="header__navbar-item-no-pointer">Kết nối</span>
          <a href="#" class="header__navbar-icon-link">
            <i class="header__navbar-icon fab fa-facebook"></i>
          </a>
          <a href="#" class="header__navbar-icon-link">
            <i class="header__navbar-icon fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <!--rnd header navbar left -->

      <!-- header navbar right -->
      <ul class="header__navbar-list">
        <li class="header__navbar-item header__navbar-item-has-notity">
          <a href="#" class="header__navbar-item-link">
            <i class="header__navbar-icon far fa-bell"></i>
            Thông báo
          </a>
        </li>
        <li class="header__navbar-item">
          <a href="#" class="header__navbar-item-link">
            <i class="header__navbar-icon far fa-question-circle"></i>
            Trợ giúp
          </a>
        </li>

        <!-- <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">Đăng ký</li>
                        <li class="header__navbar-item header__navbar-item--strong">Đăng nhập</li> -->
        <% if(login_info){ %>
          <li class="header__navbar-item header__navbar-user">
            <img src="<%= (login_info.avatar)? login_info.avatar : '/public/upload/default-avatar.jpg' %>"
              class="header__navbar-user-img" />
            <span class="header__navbar-user-name">
              <%= (login_info.username)%>
            </span>

            <ul class="header__navbar-user-menu">
              <li class="header__navbar-user-item">
                <a href="/user/profile">Tài khoản của tôi</a>
              </li>
              <li class="header__navbar-user-item">
                <a href="/user/profile#address">Địa chỉ của tôi</a>
              </li>
              <li class="header__navbar-user-item">
                <a href="#">Đơn mua</a>
              </li>
              <% if(login_info.role=="admin" ) { %>
                <li class="header__navbar-user-item">
                  <a href="/cpanel">Admin Cpanel</a>
                </li>
                <% } %>
                  <li class="header__navbar-user-item header__navbar-user-item--separate">
                    <a href="#" id="logout">Đăng xuất</a>
                  </li>
            </ul>
          </li>
          <% } else { %>
            <a href="/user/login">
              <li class="header__navbar-item header__navbar-user">
                <img src="<%='/public/upload/default-avatar.jpg' %>" class="header__navbar-user-img" />
                <span class="header__navbar-user-name">Đăng nhập</span>
              </li>
            </a>
            <% } %>
      </ul>
      <!--end header navbar right -->
    </nav>

    <!-- end header-navbar -->

    <!-- header-search -->
    <div class="header-with-search">
      <label for="header-bars-input" class="header__bars-btn">
        <i class="fas fa-bars header__bars-icon"></i>
      </label>

      <input type="checkbox" class="header__bars-input" id="header-bars-input" />
      <div class="header__mobile">
        <div class="header__mobile-search-wrap">
          <div class="header__mobile-search">
            <form action="#" id="mobile-search-form" method="post">
              <button class="header__search-moblie-btn">
                <i class="fas fa-search header__search-mobile-btn-icon"></i>
              </button>
              <input type="text" class="header__mobile-search-input" placeholder="Tìm kiếm sản phẩm...">
            </form>
          </div>
        </div>
        <ul class="header__mobile-list header__mobile-list--link">
          <li class="header__mobile-item">
            <a href="/" class="header__mobile-link">Trang chủ</a>
          </li>
          <% if(login_info){ %>
            <li class="header__mobile-item">
              <a href="/user/cart" class="header__mobile-link">Giỏ hàng</a>
            </li>

            <li class="header__mobile-item">
              <a href="/user/profile" class="header__mobile-link">Tài khoản của tôi</a>
            </li>

            <li class="header__mobile-item">
              <a href="/user/profile#address" class="header__mobile-link">Địa chỉ của tôi</a>
            </li>

            <% if(login_info.role=="admin" ) { %>
              <li class="header__mobile-item">
                <a href="/cpanel" class="header__mobile-link">Admin Cpanel</a>
              </li>
              <% } %>

                <li class="header__mobile-item">
                  <a href="#" id="logout-mobile" class="header__mobile-link">Đăng xuất</a>
                </li>

                <% } else { %>
                  <li class="header__mobile-item">
                    <a href="/user/logon" class="header__mobile-link">Đăng ký</a>
                  </li>

                  <li class="header__mobile-item">
                    <a href="/user/login" class="header__mobile-link">Đăng nhập</a>
                  </li>
                  <% } %>
        </ul>
        <ul class="header__mobile-list header__mobile-list--search-result">
          <li class="header__mobile-item">
            <a class="header__mobile-link">Không có gì để hiển thị cả.</a>
          </li>
        </ul>
        <label for="header-bars-input">
          <i class="fas fa-times header__mobile-close"></i>
        </label>
      </div>

      <label for="header-bars-input" class="modal">
        <div class="modal__overlay"></div>
      </label>
      <!-- logo -->
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img class="header__logo-img" src="../../public/img/logo.png" alt="" />
        </a>
      </div>

      <!-- end logo -->

      <!-- search -->
      <div class="header__search hide-on-mobile">
        <form action="#" id="search-form" method="post">
          <div class="header__search-input-wrap">
            <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm tại đây" />

            <div class="header__search-history">
              <h3 class="header__search-history-heading">Kết quả tìm kiếm</h3>
              <ul class="header__search-history-list">
                <li class="header__search-history-item"><a>Không có gì để hiển thị cả.</a></li>
              </ul>
            </div>
          </div>

          <button class="header__search-btn">
            <i class="fas fa-search header__search-btn-icon"></i>
          </button>
        </form>
      </div>
      <!--end search -->

      <!-- cart -->
      <% if(login_info){ %>
        <div class="header__cart">
          <div class="header__cart-wrap">
            <span class="header__cart-notice"> 0 </span>
            <i class="fas fa-shopping-cart header__cart-icon"></i>
            <div class="header__cart-list">
              <ul class="header__cart-list-item">
              </ul>
            </div>
          </div>
        </div>
        <!--end cart -->
    </div>
    <% } else { %>
      <div class="header__cart">
        <a href="/user/login">
          <div class="header__cart-wrap">
            <i class="fas fa-shopping-cart header__cart-icon"></i>
          </div>
        </a>
      </div>
      <% } %>
        <!--end header-search -->
  </div>
  <!-- <ul class="header__sort-bar">
    <li class="header__sort-item">
      <a href="#" class="header__sort-link">Liên quan</a>
    </li>

    <li class="header__sort-item header__sort-item--active">
      <a href="#" class="header__sort-link">Mới nhất</a>
    </li>

    <li class="header__sort-item">
      <a href="#" class="header__sort-link">Bán chạy</a>
    </li>

    <li class="header__sort-item">
      <a href="#" class="header__sort-link">Giá</a>
    </li>
  </ul> -->
</header>
<!--end header -->