* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cart-header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin: 15px 0px;
}

.cart-checkbox {
  display: inline-block;
  margin: 0px 12px 0px 20px;
}

.cart-header-text {
  display: inline;
}

.cart-header-1,
.cart-header-2,
.cart-header-3,
.cart-header-4,
.cart-header-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-header-1 {
  width: calc(40% - 0.5rem);
}

.cart-header-2 {
  width: calc(15% - 0.5rem);
}

.cart-header-3 {
  width: calc(15% - 0.5rem);
}

.cart-header-4 {
  width: calc(15% - 0.5rem);
}

.cart-header-5 {
  width: calc(15% - 0.5rem);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin: 15px 0px;
}

.cart-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(40% - 0.5rem);
}

.cart-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.cart-item-img img {
  width: 100%;
}

.cart-item-detail {
  width: calc(100% - 8.5rem);
}

.cart-item-title {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart-item-title a {
  font-size: 1.6rem;
}

.cart-item-choose {
  font-size: 1.3rem;
  width: 100%;
}

.cart-item-price,
.cart-item-quantity,
.cart-item-total-price,
.cart-item-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-price {
  width: calc(15% - 0.5rem);
  color: #ee4d2d;
}

.cart-item-quantity {
  width: calc(15% - 0.5rem);
}

.cart-item-quantity-input {
  width: 70%;
  height: 35px;
  padding: 10px;
  font-size: 16px;
}

.cart-item-total-price {
  width: calc(15% - 0.5rem);
  color: #ee4d2d;
}

.cart-item-action {
  width: calc(15% - 0.5rem);
  cursor: pointer;
}

.cart-select-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  position: sticky;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin: 15px 0px;
}

.cart-select-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(70% - 1rem);
}

.cart-select-zone-1,
.cart-select-zone-2,
.cart-select-zone-3 {
  cursor: pointer;
}

.cart-select-zone span {
  margin: 0px 10px;
  text-align: center;
}

.cart-select-zone-1 {
  width: calc(20% - 0.5rem);
}

.cart-select-zone-2 {
  width: calc(10% - 0.5rem);
}

.cart-select-zone-3 {
  width: calc(20% - 0.5rem);
}

.cart-select-zone-4 {
  width: calc(20% - 0.5rem);
}

.cart-select-zone-5 {
  width: calc(30% - 0.5rem);
  color: #ee4d2d;
  font-size: 20px;
}

.cart-select-zone button {
  width: calc(30% - 1rem);
  font-size: 14px;
  color: white;
  border: none;
  padding: 12px 12px;
  background: #ee4d2d;
  cursor: pointer;
}

@media screen and (max-width: 1209px) {
  .container {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 767px) {
  .cart-checkbox {
    margin: 0 1rem;
  }

  .cart-header,
  .cart-item {
    padding: 0.5rem;
  }

  .cart-header-1 {
    width: calc(30% - 0.5rem);
  }

  .cart-header-2,
  .cart-header-3,
  .cart-header-4 {
    width: calc(20% - 0.5rem);
  }

  .cart-header-5 {
    width: calc(10% - 0.5rem);
  }

  .cart-item-content {
    width: calc(30% - 0.5rem);
  }

  .cart-item-title a {
    font-size: 1.4rem;
  }

  .cart-item-choose {
    font-size: 1.2rem;
  }

  .cart-item-price,
  .cart-item-quantity,
  .cart-item-total-price {
    width: calc(20% - 0.5rem);
  }

  .cart-item-price,
  .cart-item-total-price {
    font-size: 1.2rem;;
  }

  .cart-item-action {
    width: calc(10% - 0.5rem);
  }

  .cart-item-img {
    width: 50px;
    height: 50px;
  }

  .cart-item-detail {
    width: calc(100% - 5.5rem);
  }

  .cart-select-zone-5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .cart-header-1,
  .cart-item-content {
    width: calc(40% - 0.5rem);
  }

  .cart-header-2,
  .cart-item-price {
    display: none;
  }

  .cart-header-3,
  .cart-header-4,
  .cart-item-quantity,
  .cart-item-total-price {
    width: calc(25% - 0.5rem);
  }

  .cart-item-title {
    -webkit-line-clamp: 2;
  }

  .cart-item-img {
    width: 30px;
    height: 30px;
  }

  .cart-item-detail {
    width: calc(100% - 3.5rem);
  }

  .cart-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(70% - 0.5rem);
  }

  .cart-select-zone button {
    width: calc(30% - 0.5rem);
  }

  .cart-select-zone span {
    width: 100%;
    margin: 5px 10px;
    text-align: left;
  }

  .cart-select-zone-5 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 359px) {
  .cart-header-1,
  .cart-header-3,
  .cart-header-4,
  .cart-header-5 {
    font-size: 1.2rem;
  }

  .cart-item-title a {
    font-size: 1.2rem;
  }

  .cart-item-choose {
    font-size: 1rem;
  }

  .cart-item-quantity-input {
    height: 20px;
    padding: 5px;
    font-size: 12px;
  }

  .cart-item-total-price,
  .cart-item-action {
    font-size: 1rem;
  }

  .cart-item-img {
    display: none;
  }

  .cart-item-detail {
    width: 100%;
  }

  .cart-select-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cart-list,
  .cart-select-zone button {
    width: 100%;
  }

  .cart-select-zone span {
    font-size: 1.2rem;
  }
}