.container {
  max-width: 1200px;
  margin: 0 auto;
}

.border {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin: 5px 0px;
}

.block-title {
  width: calc(40% - 5px);
  font-size: 20px;
  color: black;
  text-align: left;
}
.user-address {
  margin: 15px 0px;
}

.user-address-block,
.checkout-item-block {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}

.checkout-item-block {
  margin: 15px 0px;
}

.user-address-letter {
  height: 5px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 5px;
  background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px)
}

.user-address-title {
  color: #ee4d2d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-address-title i {
  font-size: 20px;
  margin-right: 1rem;
}

.user-address-list {
  padding: 0px 10px;
}

.user-address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-address-item-checkbox {
  width: 2rem;
  margin-right: 10px;
}

.user-address-span {
  width: calc(100% - 3rem);
  font-size: 15px;
}

.checkout-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  color: #aaa;
}

.checkout-item-header-2 {
  width: calc(25% - 5px);
}

.checkout-item-header-3 {
  width: calc(10% - 5px);
}

.checkout-item-header-4 {
  width: calc(25% - 5px);
  text-align: right;
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0;
}

.checkout-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(40% - 5px);
}

.checkout-item-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.checkout-item-thumb img{
  width: 100%;
}

.checkout-item-detail {
  width: calc(100% - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.checkout-item-name {
  width: 100%;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.checkout-item-choose {
  width: 100%;
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.checkout-item-unitprice {
  width: calc(25% - 5px);
  text-align: center;
}

.checkout-item-quantity {
  width: calc(10% - 5px);
  text-align: center;
}

.checkout-item-totalprice {
  width: calc(25% - 5px);
  text-align: right;
}

.checkout-block {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  margin-bottom: 15px;
}

.checkout-line-1,
.checkout-line-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-block-title {
  font-size: 25px;
  width: calc(50% - 1rem);
}

.checkout-block-total {
  width: calc(50% - 1rem);
  color: #ee4d2d;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

.checkout-block-term {
  width: calc(70% - 1rem);
}

.buy-btn {
  width: calc(30% - 1rem);
  font-size: 17px;
  padding: 10px 28px;
  margin-top: 15px;
  background: rgb(238, 77, 45);
  color: white;
  border: none;
  cursor: pointer;
}

.buy-btn:hover {
  background: rgb(228, 67, 35);
  color: white;
}

.checkout-block-dieukhoan {
  color: rgb(0, 85, 170);
}

@media screen and (max-width: 1219px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 767px) {
  .block-title {
    font-size: 1.5rem;
  }

  .checkout-item-thumb {
    width: 40px;
    height: 40px;
  }

  .checkout-item-detail {
    width: calc(100% - 5rem);
  }

  .checkout-item-name {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .checkout-item-choose {
    font-size: 1.2rem;
  }

  .checkout-item-unitprice,
  .checkout-item-quantity,
  .checkout-item-totalprice {
    font-size: 1.3rem;
  }

  .checkout-block-term {
    width: calc(60% - 1rem);
  }
  
  .buy-btn {
    width: calc(40% - 1rem);
  }
}

@media screen and (max-width: 479px) {
  .checkout-item-header-2,
  .checkout-item-thumb,
  .checkout-item-unitprice {
    display: none;
  }

  .block-title,
  .checkout-item-content {
    width: calc(50% - 5px);
  }

  .checkout-item-header-3,
  .checkout-item-quantity {
    width: calc(10% - 5px);
  }

  .checkout-item-header-4,
  .checkout-item-totalprice {
    width: calc(40% - 5px);
  }

  .checkout-item-detail {
    width: 100%;
  }

  .checkout-line-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .checkout-block-term,
  .buy-btn {
    width: 100%;
  }

  .checkout-block-title,
  .checkout-block-total {
    font-size: 20px;
  }
}

@media screen and (max-width: 359px) {
  .block-title,
  .checkout-item-header-3,
  .checkout-item-header-4 {
    font-size: 1.3rem;
  }

  .checkout-item-unitprice,
  .checkout-item-totalprice {
    font-size: 1.2rem;
  }

  .checkout-item-name {
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .checkout-item-choose {
    font-size: 1rem;
  }

  .block-title,
  .checkout-item-content {
    width: calc(40% - 5px);
  }

  .checkout-item-header-3,
  .checkout-item-quantity {
    width: calc(20% - 5px);
  }

  .checkout-item-header-4,
  .checkout-item-totalprice {
    width: calc(40% - 5px);
  }

  .checkout-line-1,
  .checkout-line-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .checkout-block-title,
  .checkout-block-total {
    text-align: left;
    width: 100%;
  }

}