/* main */
.id {
  display: none;
}

button {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 4px 12px;
  margin: 0px 8px 8px 0px;
  background: transparent;
  cursor: pointer;
}

button:hover {
  color: rgb(238, 77, 45);
  border-color: rgb(238, 77, 45);
}

.toast {
  font-size: 15px;
}

.item-select-btn-inactive {
  cursor: not-allowed;
  opacity: 0.5;
}

.item-select-btn-choosed {
  color: rgb(238, 77, 45);
  border-color: rgb(238, 77, 45);
}

.main {
  width: 60%;
  margin: 0 20%;
}

.item-category {
  margin: 10px 0px 10px 20px;
  font-size: 14px;
}

.item-overview {
  display: flex;
  background: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
}

.item-overview img {
  width: 450px;
  padding: 15px;
}

.item-overview-no-img {
  padding: 20px;
  width: calc(100% - 450px);
}

.item-overview-no-img .item-title {
  font-size: 20px;
  font-weight: 500;
}

.item-overview-no-img .item-price {
  font-size: 30px;
  color: rgb(238, 77, 45);
  line-height: 1.5;
  margin: 15px 0px;
  padding: 10px 20px;
  box-sizing: content-box;
  background-color: rgb(250, 250, 250);
  display: block;
}

.item-overview-no-img .item-select-prop {
  font-size: 14px;
}

.item-overview-no-img .item-select-prop-margin {
  margin: 20px;
}

.item-overview-no-img .item-select-prop span {
  display: inline-block;
  width: 100px;
}

.item-overview-no-img input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
}

.item-overview-no-img .item-action button {
  padding: 12px;
  border-radius: 2px;
  width: 160px;
}

.item-detail-decs {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
}

.item-detail-decs .detail-decs-title {
  font-size: 18px;
  padding: 14px;
  background-color: rgb(250, 250, 250);
}

.item-detail-decs .item-detail {
  margin: 15px;
}

.item-detail-container {
  margin: 9px 18px;
}

.item-detail-decs .item-detail-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 150px;
}

.item-detail-decs .item-detail-content {
  font-size: 14px;
  display: inline-block;
}

.item-detail-decs .item-decs {
  margin: 15px 15px 0px 15px;
}

.item-detail-decs .item-decs-p {
  font-size: 14px;
  line-height: 30px;
  margin: 30px 15px 15px 15px;
}

.related-item {
  padding: 20px 0px;
}

.owl-one {
  width: 40%;
}

.carousel-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.owl-two .owl-carousel-item {
  width: 150px;
  height: 235px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
  background: white;
}

.owl-two .carousel-content-container {
  padding: 10px;
}

.owl-two .carousel-title {
  display: inline-block;
  font-size: 12px;
  width: 130px;
  height: 38px;
  line-height: 1.2;
}

.owl-two .carousel-price {
  color: rgb(238, 77, 45);
  font-size: 16px;
}
