/* main */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.id {
  display: none;
}

button {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 7px 12px;
  margin: 0px 8px 8px 0px;
  background: transparent;
  cursor: pointer;
}

button:hover {
  color: rgb(238, 77, 45);
  border-color: rgb(238, 77, 45);
}

.toast {
  font-size: 15px;
}

.item-select-btn-inactive {
  cursor: not-allowed;
  opacity: 0.5;
}

.item-select-btn-choosed {
  color: rgb(238, 77, 45);
  border-color: rgb(238, 77, 45);
}

.item-category {
  margin: 10px 0;
  font-size: 14px;
}

.item-overview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item-overview img {
  width: 450px;
  padding: 15px;
}

.item-overview-no-img {
  width: 60%;
  padding: 1rem;
}

.item-title {
  font-size: 25px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.item-price {
  font-size: 30px;
  color: rgb(238, 77, 45);
  line-height: 1.5;
  margin: 15px 0px;
  padding: 10px 20px;
  box-sizing: content-box;
  background-color: rgb(250, 250, 250);
  display: block;
}

.item-select-prop {
  font-size: 14px;
}

.item-select-prop-margin {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-select-prop span {
  display: inline-block;
  width: 100px;
}

.item-select-prop .item-prop-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(20% - 1rem);
}

.item-select-prop .item-prop-element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(80% - 1rem);
}

.item-quantity {
  width: 80px;
}

.item-left {
  width: auto !important;
  margin-left: 20px;
}

.item-quantity-frame input {
  font-size: 18px;
  padding: 7px 12px;
  border: 1px solid #ccc;
}

.item-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item-action button {
  padding: 12px;
  border-radius: 2px;
  width: 160px;
}

.item-detail-decs {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item-detail-decs .detail-decs-title {
  font-size: 18px;
  padding: 14px;
  background-color: rgb(250, 250, 250);
}

.item-detail-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 9px 18px;
}

.item-detail-decs .item-detail-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: calc(20% - 0.5rem);
}

.item-detail-decs .item-detail-content {
  font-size: 14px;
  display: inline-block;
  width: calc(80% - 0.5rem);
}

.item-detail-decs .item-decs {
  margin-bottom: 15px;
}

.item-detail-decs .item-decs-p {
  font-size: 14px;
  line-height: 30px;
  margin: 30px 15px 15px 15px;
}

.related-item {
  padding: 20px 0px;
}

.owl-one {
  width: 40%;
}

.carousel-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.owl-two .owl-carousel-item {
  height: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid white;
}

.owl-two .owl-carousel-item:hover {
  box-shadow: rgba(70, 46, 46, 0.2) 0px 2px 8px 0px;
  border-color: #fc5837;
  margin-left: 1px;
  margin-right: 1px;
}

.owl-two .carousel-item-product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  overflow: hidden;
}

.owl-two .carousel-content-container {
  padding: 10px;
}

.owl-two .carousel-title {
  display: inline-block;
  height: 45px;
  font-size: 13px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 10px;
}

.owl-two .carousel-price {
  color: rgb(238, 77, 45);
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.owl-theme .owl-nav {
  display: none;
}

@media screen and (max-width: 1219px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    margin-top: 6.5rem;
  }
}

@media screen and (max-width: 767px) {
  .item-overview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .owl-one {
    width: 100%;
  }

  .item-overview-no-img {
    width: 100%;
  }

  .item-title {
    font-size: 20px;
  }

  .item-price {
    font-size: 20px;
  }

  .item-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-action button {
    width: calc(50% - 0.5rem);
  }

  .item-action .item-add-to-cart,
  .item-action .item-buy-now {
    margin: 0;
  }
}

@media screen and (max-width: 479px) {
  .item-detail-decs .item-detail-title {
    width: calc(40% - 0.5rem);
  }

  .item-detail-decs .item-detail-content {
    width: calc(60% - 0.5rem);
  }
}

@media screen and (max-width: 359px) {
  .item-select-prop-margin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item-select-prop .item-prop-title {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .item-select-prop .item-prop-element {
    width: 100%;
  }

  .item-action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item-action button {
    width: 100%;
  }

  .item-action .item-add-to-cart {
    margin-bottom: 1rem;
  }
}
