.main-container {
  max-width: 1200px;
  background: #fff;
  margin: 1rem auto;
  padding: 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
}

.main-container .title {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.login {
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem 0;
}

.login .form-group {
  margin-bottom: 1rem;
}

.login .form-group input,
.login .form-group select {
  font-family: "Roboto";
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #fc5837;
}

.login .form-group input:focus,
.login .form-group select:focus-within {
  border: 2px solid #fc5837;
}

.login button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  background-color: #fe5e3a;
  border: 0;
  outline: 0;
  border-radius: 0;
}

.login button:hover {
  opacity: 0.5;
}

.login .notice-regist {
  font-size: 1.6rem;
  color: #7b7b7b;
}

.login .notice-regist a {
  font-weight: 600;
}

.login .notice-regist a:hover {
  color: #fe5e3a;
}

.notification {
  font-size: 1.6rem;
  padding: 1rem;
  color: #fff;
  background: #00000090;
  border: 1px solid #000000;
  margin-bottom: 1rem;
}

.notification-success {
  background: #76c80e90;
  border: 1px solid #76c80e;
}

.notification-warning {
  background: #ff950190;
  border: 1px solid #ff9501;
}

.notification-error {
  background: #fe5e3a90;
  border: 1px solid #fe5e3a;
}

/*Profile*/

.main-container.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: none;
  padding: 0;
  box-shadow: none;
}

.main-container .sidebar {
  width: 20%;
  margin: 1rem 0;
  padding: 2rem;
}

.main-container .main-content {
width: 80%;
  background: #fff;
  margin: 1rem 0;
  padding: 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
}

.main-container .main-content .main-content__split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.main-container .main-content .main-content__split-60 {
  width: 60%;
}

.main-container .main-content .main-content__split-40 {
  width: 40%;
}