ol, ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  background: #fff;
  margin: 1rem auto;
  padding: 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}
.container__title {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}
.container__login {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1rem 0;
}
.container__login .form-group {
  margin-bottom: 1rem;
}
.container__login .form-group input,
.container__login .form-group select {
  font-family: "Roboto";
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #fc5837;
}
.container__login .form-group input:focus, .container__login .form-group input:focus-within,
.container__login .form-group select:focus,
.container__login .form-group select:focus-within {
  border-width: 2px;
}
.container__login button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
  border: 0;
  outline: 0;
  border-radius: 0;
}
.container__login button:hover {
  opacity: 0.5;
}
.container__notice {
  font-size: 1.6rem;
  color: #7b7b7b;
}
.container__notice a {
  font-weight: 600;
}
.container__notice a:hover {
  color: #fc5837;
}
.container__header {
  width: 100%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.container__header__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.container__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background: #fc5837;
  border-radius: 100%;
  top: 50%;
  margin-top: -1.5rem;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.container__arrow--prev {
  left: 0;
  margin-left: -1.5rem;
}
.container__arrow--next {
  right: 0;
  margin-right: -1.5rem;
}
.container__category, .container__brand {
  position: relative;
}
.container__category__title, .container__brand__title {
  font-size: 2rem;
  color: #7b7b7b;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
}
.container__category__wrapper, .container__brand__wrapper {
  overflow: hidden;
}
.container__category__wrapper::-webkit-scrollbar, .container__brand__wrapper::-webkit-scrollbar {
  width: 0;
}
.container__category__wrapper::-webkit-scrollbar-thumb, .container__brand__wrapper::-webkit-scrollbar-thumb {
  background-color: 0;
  outline: 0;
}
.container__category__list, .container__brand__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  transition: all 0.5s ease 0s;
}
.container__category__item, .container__brand__item {
  width: 10%;
}
.container__category:hover .container__arrow, .container__brand:hover .container__arrow {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
}
.container__category:hover .container__arrow--prev, .container__brand:hover .container__arrow--prev {
  margin-left: -2.5rem;
}
.container__category:hover .container__arrow--next, .container__brand:hover .container__arrow--next {
  margin-right: -2.5rem;
}
.container__category .category__group {
  width: 100%;
}
.container__category .category__group__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.container__category .category__group__image--circle {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
}
.container__category .category__group__image--circle .circle__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  transform: rotate(-20deg);
}
.container__category .category__group__image--circle .circle__item {
  width: 100%;
  height: 12.5px;
  background: #fc5837;
}
.container__category .category__group__image--circle .circle__item--second {
  background: #ff9501;
}
.container__category .category__group__image--circle .circle__item--third {
  background: #76c80e;
}
.container__category .category__group__image--circle .circle__item--fourth {
  background: #1fbba6;
}
.container__category .category__group__image img {
  width: 100%;
}
.container__category .category__group__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  color: #7b7b7b;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  height: 40%;
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.container__category .category__group a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  height: 20rem;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}
.container__category .category__group a:hover {
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
}
.container__brand .brand__group {
  width: 100%;
}
.container__brand .brand__group__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.container__brand .brand__group__image--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}
.container__brand .brand__group__image img {
  width: 100%;
}
.container__brand .brand__group__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  color: #7b7b7b;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  height: 40%;
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.container__brand .brand__group a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  height: 20rem;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}
.container__brand .brand__group a:hover {
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
}
.container__product {
  display: inline-block;
  width: 100%;
}
.container__product__title {
  font-size: 2.5rem;
  color: #7b7b7b;
}
.container__product__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 3rem;
}
.container__product__item {
  position: relative;
  height: 30rem;
  width: calc(100%/6 - 10px);
  margin: 5px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  animation: opacity_animation 0.2s;
}
.container__product__item .product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}
.container__product__item .product__image img {
  width: 100%;
}
.container__product__item .product__details {
  font-size: 1.5rem;
  padding: 1rem;
}
.container__product__item .product__footer {
  display: none;
  position: absolute;
  left: -1px;
  right: -1px;
  margin-top: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #fc5837;
  z-index: 1000;
}
.container__product__item .product__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 5rem;
}
.container__product__item .product__price {
  color: #fc5837;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container__product__item a {
  width: 100%;
  height: 100%;
}
.container__product__item:hover {
  border: 1px solid #fc5837;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}
.container__product__item:hover .product__footer {
  display: block;
  animation: opacity_animation 0.2s;
}
.container__product__top-view {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-image: linear-gradient(to left, #ececec, #7b7b7b);
  padding: 1rem;
  margin-bottom: 1rem;
}
.container__product__top-view .top-view-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container__product__top-view .top-view-detail__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-right: 1rem;
}
.container__product__top-view .top-view-detail__right {
  color: #fff;
  font-size: 3rem;
}
.container__product__top-view .top-view-detail__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border: 2px solid #fc5837;
  overflow: hidden;
}
.container__product__top-view .top-view-detail__image img {
  width: 100%;
}
.container__product__top-view .top-view-detail__name {
  color: #7b7b7b;
  font-size: 2rem;
}
.container__product__top-view .top-view-detail__cat, .container__product__top-view .top-view-detail__brand {
  color: #7b7b7b;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.container__product__top-view .top-view-detail__cat a, .container__product__top-view .top-view-detail__brand a {
  color: #fff;
  background: #7b7b7b;
  padding: 0.2rem 0.5rem;
}
.container__product__top-view .top-view-detail__cat a:hover, .container__product__top-view .top-view-detail__brand a:hover {
  color: #fff;
  background: #fc5837;
}
.container__product__top-view .top-view-detail__price {
  color: #fc5837;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.container__product__top-view .top-view-detail__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100px;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
}
.container__product__top-view .top-view-detail__button:hover {
  opacity: 0.5;
}
.container__product__top-view--product {
  background: #fff;
}
.container__product__top-view--product .top-view-detail__left {
  margin-right: 2rem;
}
.container__product__top-view--product .top-view-detail__image {
  width: 15rem;
  height: 20rem;
}
.container__product__top-view--result {
  background: #fff;
}
.container__product__top-view--result .top-view-detail {
  display: block;
  font-size: 2rem;
  color: #7b7b7b;
}
.container__product__top-view--result .top-view-detail .total-result {
  font-weight: 600;
  color: #76c80e;
  margin: 0 0.5rem;
}
.container__product__top-view--result .top-view-detail .query-result {
  font-weight: 600;
  color: #fc5837;
}
.container__product__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 2px;
  background: #ececec;
}
.container__product__action .label-sort {
  color: #7b7b7b;
}
.container__product__action .newest-sort,
.container__product__action .oldest-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  border-radius: 2px;
  margin-left: 1rem;
  padding: 0 1rem;
  height: 3rem;
}
.container__product__action .newest-sort.active,
.container__product__action .oldest-sort.active {
  background: #fc5837;
  color: #fff;
}
.container__product__action .action-sort {
  border: 0;
  outline: 0;
  padding: 0 1rem;
  margin-left: 1rem;
  height: 3rem;
  border-radius: 2px;
  font-size: 1.4rem;
}
.container__product__sidebar {
  width: calc(20% - 1rem);
}
.container__product__sidebar__title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container__product__sidebar__list {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}
.container__product__sidebar__list.hide {
  display: none;
}
.container__product__sidebar__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}
.container__product__sidebar__item .checkbox-category,
.container__product__sidebar__item .checkbox-brand {
  margin-left: 1rem;
}
.container__product__sidebar__item .text-category,
.container__product__sidebar__item .text-brand {
  cursor: pointer;
  margin-left: 1rem;
  width: 100%;
}
.container__product__sidebar__item:hover {
  background: #ccc;
}
.container__product__sidebar__item:hover.title {
  cursor: default;
  background: none;
}
.container__product__sidebar__price {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}
.container__product__sidebar__price .price-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}
.container__product__sidebar__price .price-range .from-price,
.container__product__sidebar__price .price-range .to-price {
  width: calc(45% - 5px);
  font-family: "Roboto";
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  height: 3rem;
  padding: 1rem;
  border: 1px solid #fc5837;
}
.container__product__sidebar__price .price-range .from-price:focus-within,
.container__product__sidebar__price .price-range .to-price:focus-within {
  border-width: 2px;
}
.container__product__sidebar__price .price-range .between-price {
  text-align: center;
  width: calc(5% - 5px);
}
.container__product__sidebar__price .apply {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
  border: 0;
  outline: 0;
  border-radius: 0;
}
.container__product__sidebar__price .apply:hover {
  opacity: 0.5;
}
.container__product__main {
  width: calc(80% - 1rem);
}
.container__product__no-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 50rem;
  font-size: 2.5rem;
  color: #7b7b7b;
}
.container__product__more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem 0;
}
.container__product__more .see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.5rem;
  width: 30rem;
  padding: 1rem 0;
  color: #7b7b7b;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
}
.container__product__more .see-more:hover {
  background: #ccc;
}
.container__product--search {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container__product--search .container__product__item {
  width: calc(100%/5 - 10px);
}
.container__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem 0;
}
.container__pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 2px;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  color: #7b7b7b;
}
.container__pagination__item.active {
  cursor: default;
  color: #fff;
  background: #fc5837;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}
.container .sidebar {
  width: 20%;
}
.container .sidebar__avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem 0;
}
.container .sidebar__avatar .avatar-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 30%;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  border: 2px solid #fc5837;
  overflow: hidden;
}
.container .sidebar__avatar .avatar-image img {
  width: 100%;
}
.container .sidebar__avatar .avatar-username {
  width: 70%;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fc5837;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .sidebar__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: #7b7b7b;
  background: #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: all 0.2s;
}
.container .sidebar__item:hover {
  color: #fff;
  background: #7b7b7b;
}
.container .sidebar__item.active {
  cursor: default;
  color: #fff;
  background: #fc5837;
}
.container .content {
  width: 80%;
  min-height: 33.5rem;
  background: #fff;
  padding: 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}
.container .content #profile-form,
.container .content #address-form,
.container .content #password-form {
  animation: opacity_animation 0.5s;
}
.container .content__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: left;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.container .content__title--left, .container .content__title--right {
  width: 50%;
}
.container .content__title--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .content__title .add-address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
}
.container .content__title .add-address:hover {
  opacity: 0.5;
}
.container .content__split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .content__split-60 {
  width: 60%;
}
.container .content__split-60 .form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .content__split-60 .form-group__title {
  width: 20%;
  font-size: 1.6rem;
  font-weight: 600;
  color: #7b7b7b;
}
.container .content__split-60 .form-group__input {
  width: 80%;
  margin-left: 1rem;
}
.container .content__split-60 .form-group__input .username {
  font-size: 1.6rem;
}
.container .content__split-60 .form-group__input input,
.container .content__split-60 .form-group__input select {
  font-family: "Roboto";
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #fc5837;
}
.container .content__split-60 .form-group__input input:focus, .container .content__split-60 .form-group__input input:focus-within,
.container .content__split-60 .form-group__input select:focus,
.container .content__split-60 .form-group__input select:focus-within {
  border-width: 2px;
}
.container .content__split-60 .form-group__input .birthday {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .content__split-60 .form-group__input .birthday select {
  width: calc(100%/3 - 5px);
}
.container .content__split-60 .form-group__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
  border: 0;
  outline: 0;
  border-radius: 0;
}
.container .content__split-60 .form-group__input button:hover {
  opacity: 0.5;
}
.container .content__split-40 {
  width: 40%;
}
.container .content__split-40 .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container .content__split-40 .form-group input,
.container .content__split-40 .form-group .avatar-profile {
  width: 100%;
}
.container .content__split-40 .form-group .avatar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container .content__split-40 .form-group .avatar-profile .border-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 2px solid #fc5837;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  overflow: hidden;
}
.container .content__split-40 .form-group .avatar-profile .border-avatar img {
  width: 100%;
}
.container .content__split-40 .form-group .choose-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #fc5837;
  font-size: 1.6rem;
  background: #fff;
  border: 1px solid #fc5837;
  outline: 0;
  border-radius: 0;
}
.container .content__split-40 .form-group .choose-avatar:hover {
  color: #fff;
  background: #fc5837;
  transition: all 0.2s;
}
.container .content__normal {
  max-width: 60rem;
  margin: 0 auto;
}
.container .content__normal .form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .content__normal .form-group__title {
  width: 20%;
  font-size: 1.6rem;
  font-weight: 600;
  color: #7b7b7b;
}
.container .content__normal .form-group__input {
  width: 80%;
  margin-left: 1rem;
}
.container .content__normal .form-group__input input,
.container .content__normal .form-group__input select {
  font-family: "Roboto";
  font-size: 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #fc5837;
}
.container .content__normal .form-group__input input:focus, .container .content__normal .form-group__input input:focus-within,
.container .content__normal .form-group__input select:focus,
.container .content__normal .form-group__input select:focus-within {
  border-width: 2px;
}
.container .content__normal .form-group__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
  background: #fc5837;
  border: 0;
  outline: 0;
  border-radius: 0;
}
.container .content__normal .form-group__input button:hover {
  opacity: 0.5;
}
.container .content__normal .address-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid;
  font-size: 1.6rem;
  color: #7b7b7b;
  animation: opacity_animation 0.2s;
}
.container .content__normal .address-item__content .text {
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  width: 100%;
}
.container .content__normal .address-item__content .status {
  padding: 2.5px 5px;
  color: #fff;
  border-left: 5px solid #76c80e;
  background: #76c80e90;
}
.container .content__normal .address-item__action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container .content__normal .address-item__action .delete {
  margin-left: 0.5rem;
}
.container .content__normal .address-item__action .set-default {
  margin-top: 0.5rem;
}
.container .content__normal .address-item__action .edit,
.container .content__normal .address-item__action .delete,
.container .content__normal .address-item__action .set-default {
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.2s;
}
.container .content__normal .address-item__action .edit:hover,
.container .content__normal .address-item__action .delete:hover,
.container .content__normal .address-item__action .set-default:hover {
  color: #fff;
  background: #fc5837;
}
.container .content__normal .address-item__action--top, .container .content__normal .address-item__action--bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  background: none;
  padding: 0;
  box-shadow: none;
}
.container.shop, .container.slider {
  background: none;
  padding: 0 1rem;
  box-shadow: none;
}

.notification {
  font-size: 1.6rem;
  padding: 1rem;
  color: #fff;
  background: #00000090;
  border: 1px solid #000000;
  margin-bottom: 1rem;
}
.notification--success {
  background: #76c80e90;
  border: 1px solid #76c80e;
}
.notification--warning {
  background: #ff950190;
  border: 1px solid #ff9501;
}
.notification--error {
  background: #fc583790;
  border: 1px solid #fc5837;
}

@media screen and (max-width: 1199px) {
  .container.slider {
    padding: 0;
  }
  .container__arrow--prev {
    margin-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
  }
  .container__arrow--next {
    margin-right: 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 100%;
  }
  .container__category:hover .container__arrow--prev, .container__brand:hover .container__arrow--prev {
    margin-left: 0;
  }
  .container__category:hover .container__arrow--next, .container__brand:hover .container__arrow--next {
    margin-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .container:first-of-type {
    margin-top: 6.5rem;
  }
  .container__category__item, .container__brand__item {
    width: 20%;
  }
  .container__product__item {
    width: calc(100%/5 - 10px);
  }
  .container__product--search .container__product__item {
    width: calc(100%/4 - 10px);
  }
}
@media screen and (max-width: 767px) {
  .container.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container .sidebar {
    width: 100%;
  }
  .container .sidebar__avatar {
    display: none;
  }
  .container .sidebar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .container .sidebar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: calc(100%/3 - 5px);
    margin-bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
  .container .content {
    width: 100%;
  }
  .container .content__title {
    font-size: 2rem;
  }
  .container .content__split {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container .content__split-60, .container .content__split-40 {
    width: 100%;
  }
  .container .content__split-40 {
    margin-bottom: 1rem;
  }
  .container__product__sidebar, .container__product__main {
    width: 100%;
  }
  .container__product__sidebar {
    padding-bottom: 1rem;
  }
  .container__product__item {
    width: calc(100%/4 - 10px);
  }
  .container__product--search {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container__product--search .container__product__item {
    width: calc(100%/3 - 10px);
  }
}
@media screen and (max-width: 479px) {
  .container .content__split-60 .form-group__title {
    display: none;
  }
  .container .content__split-60 .form-group__input {
    width: 100%;
    margin-left: 0;
  }
  .container .content__split-60 .form-group__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .container .content__split-60 .form-group__button button {
    width: 50%;
  }
  .container .content__split-40 .form-group .avatar-profile .border-avatar {
    width: 15rem;
    height: 15rem;
  }
  .container .content__normal .form-group__title {
    display: none;
  }
  .container .content__normal .form-group__input {
    width: 100%;
    margin-left: 0;
  }
  .container .content__normal .form-group__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .container .content__normal .form-group__button button {
    width: 50%;
  }
  .container .content__normal .address-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container .content__normal .address-item__content, .container .content__normal .address-item__action {
    width: 100%;
  }
  .container .content__normal .address-item__content .text,
.container .content__normal .address-item__content .status {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .container .content__normal .address-item__content .status {
    width: 100%;
    display: inline-block;
  }
  .container .content__normal .address-item__action--top, .container .content__normal .address-item__action--bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .container__category__item, .container__brand__item {
    width: 50%;
  }
  .container__product__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container__product__action .label-sort,
.container__product__action .newest-sort,
.container__product__action .oldest-sort,
.container__product__action .action-sort {
    width: 100%;
    margin-left: 0;
  }
  .container__product__action .label-sort,
.container__product__action .newest-sort,
.container__product__action .oldest-sort {
    margin-bottom: 1rem;
  }
  .container__product__item {
    width: calc(100%/2 - 10px);
  }
  .container__product__top-view .top-view-detail__name {
    font-size: 1.6rem;
  }
  .container__product__top-view .top-view-detail__cat, .container__product__top-view .top-view-detail__brand {
    font-size: 1.3rem;
  }
  .container__product__top-view .top-view-detail__price {
    font-size: 1.5rem;
  }
  .container__product__top-view--product .top-view-detail__image {
    width: 10rem;
    height: 15rem;
  }
  .container__product--search .container__product__item {
    width: calc(100%/2 - 10px);
  }
}
@media screen and (max-width: 359px) {
  .container .content__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container .content__title--left, .container .content__title--right {
    width: 100%;
  }
  .container .content__title .add-address {
    width: 100%;
  }
  .container__product__item {
    width: 100%;
  }
  .container__product__top-view .top-view-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container__product__top-view .top-view-detail__right {
    font-size: 2rem;
  }
  .container__product__top-view .top-view-detail__image {
    width: 5rem;
    height: 5rem;
  }
  .container__product__top-view--product .top-view-detail__left {
    margin-right: 0;
  }
  .container__product__top-view--product .top-view-detail__left, .container__product__top-view--product .top-view-detail__right {
    width: 100%;
  }
  .container__product__top-view--product .top-view-detail__image {
    width: 100%;
    height: 100%;
  }
  .container__product__top-view--product .top-view-detail__button {
    width: 100%;
  }
  .container__product__top-view--result .top-view-detail {
    display: block;
    font-size: 1.6rem;
  }
}
@keyframes opacity_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=profile.css.map */
