<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title>Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__statistic">
                <ul class="main-body__statistic__list">
                    <li class="main-body__statistic__item">
                        <div class="icon"><i class="fas fa-money-bill-wave"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item main-body__statistic__item--new">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item main-body__statistic__item--total">
                        <div class="icon"><i class="fas fa-shopping-bag"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item  main-body__statistic__item--visitor">
                        <div class="icon"><i class="far fa-eye"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-body__split">
                <div class="main-body__split-60">
                    <div class="main-body__split-header">ĐƠN HÀNG GẦN ĐÂY</div>
                    <div class="main-body__split-body">
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Sản phẩm
                                    </th>
                                    <th>
                                        Khách hàng
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        Ngày mua
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--success">Thành công</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--pending">Đang chờ</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--failed">Thất bại</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order">Không biết</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--success">Thành công</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--pending">Đang chờ</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order status-order--failed">Thất bại</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Màn hình Dell
                                    </td>
                                    <td>
                                        danghuong18
                                    </td>
                                    <td>
                                        <span class="status-order">Không biết</span>
                                    </td>
                                    <td>
                                        18.8.2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="main-body__split-40">
                    <div class="main-body__split-header main-body__split-header--new">THÀNH VIÊN MỚI NHẤT</div>
                    <div class="main-body__split-body">
                        <ul class="member-list">
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-body__split-40">
                    <div class="main-body__split-header main-body__split-header--positive">KHÁCH HÀNG TÍCH CỰC</div>
                    <div class="main-body__split-body">
                        <ul class="member-list">
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                            <li class="member-item">
                                <span class="member-item-avatar">
                                    <img src="/public/upload/avatar-1630485274944.jpg">
                                </span>
                                <span class="member-item-username">
                                    danghuong18
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-body__split-60">
                    <div class="main-body__split-header main-body__split-header--hot">SẢN PHẨM MỚI NHẤT</div>
                    <div class="main-body__split-body">70%</div>
                </div>
                <div class="main-body__split-100">
                    <div class="main-body__split-header">MẶT HÀNG HOT</div>
                    <div class="main-body__split-body">
                        <ul class="hot-product-list">
                            <li class="hot-product-item">
                                <span class="hot-product-item-image">
                                    <img src="/public/upload/product-image-1630074098491.jpg">
                                    <a href="" class="hot-product-item-title">
                                        Đắc Nhân Tâm
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Nội dung
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
</body>
</html>