<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title>Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__statistic">
                <ul class="main-body__statistic__list">
                    <li class="main-body__statistic__item">
                        <div class="icon"><i class="fas fa-money-bill-wave"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item main-body__statistic__item--new">
                        <div class="icon"><i class="fas fa-folder-plus"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item main-body__statistic__item--total">
                        <div class="icon"><i class="fab fa-product-hunt"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                    <li class="main-body__statistic__item  main-body__statistic__item--visitor">
                        <div class="icon"><i class="far fa-eye"></i></div>
                        <div class="info">
                            <div class="heading">$4590</div>
                            <span class="desc">Last month sales</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-body__container">
                <form action="#" method="post">
                    <div class="form-group">
                        <label>
                            Tên sản phẩm
                        </label>
                        <input type="text" class="product-name" placeholder="Nhập vào tên sản phẩm">
                    </div>
                    <div class="form-group">
                        <label>
                            Giá sản phẩm
                        </label>
                        <input type="text" class="product-price" placeholder="Nhập vào giá sản phẩm">
                    </div>
                    <div class="form-group">
                        <label>
                            Màu sắc
                        </label>
                        <input type="text" class="product-color" placeholder="Nhập vào màu sản phẩm">
                    </div>
                </form>
            </div>

            <div class="main-body__container">
                <form action="#" method="post">
                    <div class="main-body__container__panel">
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm
                                </label>
                                <input type="text" class="product-name" placeholder="Nhập vào tên sản phẩm">
                            </div>
                            <div class="form-group">
                                <label>
                                    Chi tiết sản phẩm
                                </label>
                                <input type="text" class="product-details" placeholder="Nhập chi tiết sản phẩm">
                            </div>
                            <div class="form-group">
                                <label>
                                    Hình sản phẩm
                                </label>
                                <input type="file" class="product-image" multiple>
                            </div>
                        </div>
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm
                                </label>
                                <!-- <input type="text" class="product-category" placeholder="Nhập vào danh mục sản phẩm"> -->
                                <select class="product-category" multiple>
                                    <option value="1">Sức khoẻ & đời sống</option>
                                    <option value="2">Điện thoại</option>
                                    <option value="3">Điện máy</option>
                                    <option value="4">Đồ gia dụng</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Thương hiệu sản phẩm
                                </label>
                                <!-- <input type="text" class="product-brand" placeholder="Nhập vào thương hiệu sản phẩm"> -->
                                <select class="product-brand">
                                    <option value="1">Samsung</option>
                                    <option value="2">CocaCola</option>
                                    <option value="3">Sony</option>
                                    <option value="4">Apple</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="submit-button">Đăng Sản Phẩm</a>
                </form>
            </div>

            <div class="main-body__container">
                <div class="main-body__container__action">
                    <div class="main-body__container__action--left">
                        <a href="#" class="create-item">Tạo item</a>
                        <a class="uncheck-item">Bỏ chọn</a>
                    </div>
                    <div class="main-body__container__action--right">
                        <div class="sort">
                            <select class="sort__task">
                                <option value="">Sắp xếp theo</option>
                                <option value="11">Ngày tạo trước</option>
                                <option value="11">Ngày tạo sau</option>
                                <option value="11">Danh mục</option>
                                <option value="11">Thương Hiệu</option>
                            </select>
                        </div>
                        <div class="action">
                            <select class="action__task">
                                <option value="">Hành động</option>
                                <option value="11">Xoá</option>
                                <option value="11">Đẩy lên đầu</option>
                            </select>
                        </div>
                    </div>
                </div>
                <ul class="main-body__container__list">
                    <li class="main-body__container__item" id="item-1">
                        <input type="checkbox" class="checkbox-item" value="1">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info">
                                <span class="body-item__details">
                                    <span class="body-item__details-category">
                                        <span class="title">Danh mục:</span>
                                        <span class="desc">Sức Khoẻ & Đời Sống</span>
                                    </span>
                                    <span class="body-item__details-brand">
                                        <span class="title">Nhãn hiệu:</span>
                                        <span class="desc">Apple</span>
                                    </span>
                                </span>
                                <span class="body-item__details body-item__details-image">
                                    Hình ảnh: Sức Khoẻ & Đời Sống
                                </span>
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                    <li class="main-body__container__item" id="item-2">
                        <input type="checkbox" class="checkbox-item" value="2">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info">
                                <span class="body-item__details">
                                    <span class="body-item__details-category">
                                        <span class="title">Danh mục:</span>
                                        <span class="desc">Sức Khoẻ & Đời Sống</span>
                                    </span>
                                    <span class="body-item__details-brand">
                                        <span class="title">Nhãn hiệu:</span>
                                        <span class="desc">Apple</span>
                                    </span>
                                </span>
                                <span class="body-item__details body-item__details-image">
                                    <ul class="list-image">
                                        <!-- <li>
                                            Hình ảnh:
                                        </li> -->
                                        <li class="item-image">
                                            <img src="https://cf.shopee.vn/file/2474dcd7d8a770fbb862d9fac880e90b" alt="">
                                        </li>
                                        <li class="item-image">
                                            <img src="https://cf.shopee.vn/file/8a70ea6682ecabaa85ccaaf63869da24" alt="">
                                        </li>
                                        <li class="item-image">
                                            <img src="https://cf.shopee.vn/file/70dd75aa0497daa3aed12ded71bd6381" alt="">
                                        </li>
                                        <li class="item-image">
                                            <img src="https://cf.shopee.vn/file/2474dcd7d8a770fbb862d9fac880e90b" alt="">
                                        </li>
                                        <li class="item-image">
                                            <img src="https://cf.shopee.vn/file/2474dcd7d8a770fbb862d9fac880e90b" alt="">
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                    <li class="main-body__container__item" id="item-3">
                        <input type="checkbox" class="checkbox-item" value="3">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info">
                                <span class="body-item__details">
                                    <span class="body-item__details-category">
                                        <span class="title">Danh mục:</span>
                                        <span class="desc">Sức Khoẻ & Đời Sống</span>
                                    </span>
                                    <span class="body-item__details-brand">
                                        <span class="title">Nhãn hiệu:</span>
                                        <span class="desc">Apple</span>
                                    </span>
                                </span>
                                <span class="body-item__details body-item__details-image">
                                    Hình ảnh: Sức Khoẻ & Đời Sống
                                </span>
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                    <li class="main-body__container__item" id="item-4">
                        <input type="checkbox" class="checkbox-item" value="4">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info body-item__details-image">
                                <span class="body-item__details">
                                    <span class="body-item__details-category">
                                        <span class="title">Danh mục:</span>
                                        <span class="desc">Sức Khoẻ & Đời Sống</span>
                                    </span>
                                    <span class="body-item__details-brand">
                                        <span class="title">Nhãn hiệu:</span>
                                        <span class="desc">Apple</span>
                                    </span>
                                </span>
                                <span class="body-item__details body-item__details-image">
                                    Hình ảnh: Sức Khoẻ & Đời Sống
                                </span>
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                    <li class="main-body__container__item" id="item-5">
                        <input type="checkbox" class="checkbox-item" value="5">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info">
                                <span class="body-item__details">
                                    <span class="body-item__details-category">
                                        <span class="title">Danh mục:</span>
                                        <span class="desc">Sức Khoẻ & Đời Sống</span>
                                    </span>
                                    <span class="body-item__details-brand">
                                        <span class="title">Nhãn hiệu:</span>
                                        <span class="desc">Apple</span>
                                    </span>
                                </span>
                                <span class="body-item__details body-item__details-image">
                                    Hình ảnh: Sức Khoẻ & Đời Sống
                                </span>
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item active" id="page-1">1</li>
                        <li class="pagination__item" id="page-2">2</li>
                        <li class="pagination__item" id="page-3">3</li>
                        <li class="pagination__item" id="page-4">4</li>
                        <li class="pagination__item" id="page-5">5</li>
                    </ul>
                    <select class="pagination__selection">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề thôi mà</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
</body>
</html>