<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title>Login Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <% if(!isLogin) { %>
            <section class="login">
                <div class="login__header">
                    <span class="background-icon"><i class="fas fa-store-alt"></i></span>
                    <a><i class="fas fa-store-alt"></i> Login Shop Dashboard</a>
                </div>
    
                <div class="login__form">
                    <form action="#" method="post" id="login-form">
                        <div class="form-group">
                            <input type="text" class="username" placeholder="Username or email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="password" placeholder="Password">
                        </div>
                        <button class="button">Login</button>
                    </form>
                </div>
            </section>
        <% } else { %>
            <% if(isAdmin) { %>
                <a class="notice-login" id="access-cpanel">
                    Phát hiện tài khoản admin, nhấn vào để tiếp tục!
                </a>
            <% } else { %>
                <a href="/" class="notice-login">
                    Bạn không có quyền đăng nhập ở đây! Nhấn vào để về trang chủ!
                </a>
            <% } %>
        <% } %>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
    <script src="/public/js/cpanel/login.js"></script>
</body>
</html>