<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title><%= name %></title>
</head>
<body>
    <div class="wrapper">
        <section class="not-found">
            <span class="not-found__header">404</span>
            <span class="not-found__body"><%= name %></span>
            <% if(isHome) { %>
                <a href="/"><span class="not-found__return-home">VỀ TRANG CHỦ</span></a>
            <% } else { %>
                <a href="/cpanel"><span class="not-found__return-home">VỀ CPANEL</span></a>
            <% } %>
        </section>
    </div>
</body>
</html>