<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopProject</title>
    <link rel="stylesheet" href="/public/css/checkout.css"/>
    <%- include('../components/head'); %>
</head>
<body>
    <%- include('../components/header'); %>
    <main>
        <div class="user-address-block">
            <div class="user-address-title">Địa chỉ nhận hàng</div>
            <div class="user-address-list">
                <!-- <div class="user-address-item">
                    <input type="radio" name="address" class="user-address-item-checkbox">
                    </input>
                    <span class="user-address-span">45AB Pasteur, Phường Nguyễn Thái Bình, Quận 1, TP. Hồ Chí Minh</span>
                </div> -->
            </div>
        </div>
        <div class="checkout-item-block">
            <div class="checkout-item-header">
                <span class="block-title">Sản phẩm</span>
                <span class="checkout-item-header-2">Đơn giá</span>
                <span class="checkout-item-header-3">Số lượng</span>
                <span class="checkout-item-header-4">Thành tiền</span>
            </div>
            <div class="checkout-item-list">
                <!-- <div class="checkout-item">
                    <img src="../../public/img/carousel.jpg" alt="" class="checkout-item-thumb">
                    <span class="checkout-item-name">ảo ma canada madagasca indonesia liên bang nga</span>
                    <span class="checkout-item-choose">Phân loại: Đỏ - L</span>
                    <span class="checkout-item-unitprice">đ5000</span>
                    <span class="checkout-item-quantity">2000</span>
                    <span class="checkout-item-totalprice">đ2000</span>
                </div> -->
            </div>
        </div>
        <div class="checkout-block">
            <span class="block-title">Phương thức thanh toán</span>
            <div class="border"></div>
        </div>
    </main>
    <%- include('../components/footer'); %>
</body>
<script src="/public/js/checkout.js"></script>
<%- include('../components/footer_js'); %>
</html>